{% extends "base-home.html" %}
{% load static %}

{% block title %}About Us{% endblock%}
{% block content %}
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets-home/img/about-us.jpg'%}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>About Us</h2>
              <h3>One helping line here</h3>
   
				
              <p>SuperPlan was started by Smartemes Capital Advisors LLP, leading investment banker headquartered in Chennai, with presence in India, Singapore, & USA, and rated as one of the top 15 startup advisory firms in India (by multiple rating organisations).</p>
				
			<p>Leveraging the decade plus experience of the promoter firm in helping startups get funding, SuperPlan aims to help startups build kickass business plans / investor pitch decks along with financial model.</p>
				
              <ul>
                <li><i class="ion-android-checkmark-circle"></i>Email Us</li>
                <li><i class="ion-android-checkmark-circle"></i> Phone Call</li>
                <li><i class="ion-android-checkmark-circle"></i> 24*7 Support</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->
	  
	  
	  
	{% endblock %}