{% extends "base-admin.html" %}
{% load static %}

{% block title %}Update banner{% endblock%}
{% block page_heading %}Update Banner{% endblock%}
{% block content %}

{% if messages %}
<div class="alert alert-danger" role="alert">
  <ul class="text-center">
    {% for message in messages%}
      <li> {{message}} </li>
    {% endfor%}
    </ul>
</div>
{% endif %}

	<div class="row mb-3">
		<div class="col-lg-4">
			<div class="card mb-3">
				<div class="card-body shadow">
					<form method="POST" action="/admin_banner_update_form" enctype="multipart/form-data">
					{% csrf_token %}
                    <input type="text" name="id" value="{{id}}" hidden required />
					<label>Image</label><br>
					<small> Must be within 1 Mb and JPEG/JPG/PNG </small><br><br>
						
						<input id="photo" type="file" name="photo" value="" accept="image/jpeg,image/png" />
					<br><br>

                <a href="{{photo}}" target="_blank"><img  class="mb-3 mt-4" src="{{photo}}" alt="image" width="160" height="160"></a>
						<br>Current Banner Photo<br>
				</div>
			</div>
			
			
		</div>
		
		
	<div class="col-lg-8">
		<div class="row">
			<div class="col">		
				
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">Banner details</p>
						</div>
					<div class="card-body">
					
					<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>1. Title</strong></label>
								<input class="form-control" type="text" name="title" value="{{title}}" minlength="4" maxlength="300" required> 
								</div>
						</div>
						</div>

					<div class="form-row">
						
					<div class="col">
						<div class="form-group">
							<label ><strong>2. Short description (optional)</strong></label>
							<input class="form-control" type="text"  name="desc" {%if desc %}  value="{{desc}}" {% endif %}  minlength="10" maxlength="500" >
						</div>
					</div>
						
				</div>
						
						
						
			<div class="form-row">
				<div class="col">
					<div class="form-group"><label>
						<strong>3. Alt-text</strong></label>
						<input class="form-control" type="text" name="alt"  minlength="4" maxlength="500"  value="{{alt}}" required >
					</div>
				</div>
				</div>


				<div class="form-row">
				<div class="col">
				<div class="form-group"><label >
					<strong>4. Category (Default value - Uncategorized)</strong></label>
					<input class="form-control" type="text"  minlength="4" maxlength="300" name="category"  value="{{category}}"></div>
				</div>
				
			</div>
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Submit</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>

    $("#photo").change(function() {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var size=Math.round((this.files[0].size)/1024);
    if(extn == "jpg" || extn == "jpeg" || extn == "png")
        {
            if(size<1024)
                {
                    pass;
                }
            else
                {
                    $("#photo").val('');

					swal({
						title: "Oops !",
						text: "Image size is larger than 1MB !",
						icon: "error",
						button: "ok",
						});
                    
                }
        }

    else
        {
            
			$("#photo").val('');

			swal({
				title: "Oops !",
				text: "Image format must be in JPG/JPEG/PNG !",
				icon: "error",
				button: "ok",
				});
                    
                
        }
    });



</script>

{% endblock %}