{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

  
    <!-- Manual Navbar css -->
    <link rel="stylesheet" href="{% static 'manual/nav1.css'%}">
    
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'forms-css/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'forms-css/css/style.css'%}">
	
	

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    {% block head %}{% endblock %}

    <style>
     
        footer a{
            text-decoration:none;
        }
    {% block style %}
    
    {% endblock %}
    </style>
</head>
<body style="margin:0px;">


<div class="topnav" id="myTopnav">
  <a href="home" ><img src="{% static 'assets-home/img/ban-logo.png'%}" alt="Superplan" style="height: 32px;"  /></a>

  <a id="spacer"></a>
	
  <a  href="contactus">Contact Us</a>
  <a  href="aboutus">About Us</a>
  <a  href="faq">FAQ</a>
 <a  href="registration">Register</a>
 <a  href="login">Login</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
	
	

  


	
	
	
	
    {% block content %}
    {% endblock %}

    <hr style="border-color:rgba(216,216,216,0.25);width:90%;">
    <center>
    <footer style="padding:20px;font-size:15px;">


        <div>


        <a href="home">Home</a> |
		<a href="aboutus"> About us</a> |
        <a href="contactus"> Contact us</a> |
		<a href="#"> Blog</a> |
		<a href="faq"> FAQ</a>
        
        
        </div>


         &copy; Copyright <strong>Superplan</strong>. All Rights Reserved
    </footer>
    </center>
    <!-- JS -->
    <script src="{% static 'forms-css/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'forms-css/js/main.js'%}"></script>
	<script src="{% static 'manual/nav1.js'%}"></script>

      <script>
  
   $(document).on("wheel", "input[type=number]", function (e) {
    $(this).blur();
});
  
  </script>
	
</body>
</html>