{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets-home/img/favi logo.png' %}" rel="icon">
  <link href="{% static 'assets-home/img/Large favi logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">


	
  <link href="{% static 'assets-home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets-home/vendor/aos/aos.css' %}" rel="stylesheet">
  
  <link href="{% static 'assets-home/css/style.css' %}" rel="stylesheet">
	
</head>

<body>



  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      
      
      <a href="home" class="logo mr-auto"><img src="{% static 'assets-home/img/ban-logo.png'%}" alt="Superplan" class="img-fluid"></a>

      <nav class="main-nav d-none d-lg-block">
        <ul>
          <li ><a href="home">Home</a></li>
          <li><a href="contactus">Contact Us</a></li>
          <li><a href="aboutus">About Us</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="registration">Register</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </nav><!-- main-nav-->

    </div>
  </header><!-- End Header -->
<br><br>
{% block content %}{% endblock %}

  <hr style="width:90%;">
  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
	  
  <br>
	<div class="container text-center">

		<a href="home">Home</a> |
		<a href="aboutus"> About us</a> |
        <a href="contactus"> Contact us</a> |
		<a href="#"> Blog</a> |
		<a href="faq"> FAQ</a>
                  
	  
	

   
      <div class="copyright">
        &copy; Copyright <strong>Superplan</strong>. All Rights Reserved
      </div>

 </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets-home/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets-home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets-home/vendor/aos/aos.js' %}"></script>

  <script src="{% static 'assets-home/js/main.js' %}"></script>

</body>

</html>