{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Customizable-Background--Overlay.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Google-Style-Login.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    
	
	<style>
		{% block style %}
        {% endblock %}
	</style>
</head>





<body>

        <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
        <div class="container-fluid"><a class="navbar-brand" href="home"><img src="{%static 'assets/img/brand-logo.png' %}" alt="logo" style="width: 180px;margin-right: 0px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="home">Home</a></li>

                    <li class="nav-item" role="presentation"><a class="nav-link" href="contactus">Contact Us</a></li>

                    <li class="nav-item" role="presentation"><a class="nav-link" href="aboutus">About Us</a></li>

                    <li class="nav-item" role="presentation"><a class="nav-link" href="faq">FAQ</a></li>
					
                    <li class="nav-item" role="presentation"><a class="nav-link" href="registration">Register</a></li>
					
                    <li class="nav-item" role="presentation">
					
					<a class="btn btn-danger"  style="font-weight: bold;" href="login">Login</a>
					
					</li>
                </ul>
        </div>
        </div>
    </nav>

    {% block content %}
    
    {% endblock %}
	
   
    <div class="footer-basic">
    <hr style="width: 80%;">
        <footer>
        
            <div class="social"><a href="#"><i class="icon ion-social-whatsapp"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="home">Home</a></li>
                <li class="list-inline-item"><a href="contactus">Contact us</a></li>
                <li class="list-inline-item"><a href="faq">FAQ</a></li>
                <li class="list-inline-item"><a href="aboutus">About us</a></li>
                <li class="list-inline-item"><a >Blog</a></li>
            </ul>
            <p class="copyright">Superplan © 2020</p>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
</body>
</html>

   