{% extends "base-form.html" %}
{% load static %}

{% block title %}ContactUs{% endblock%}


{% block head %}
	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}


{% block content %}

    <div class="main">

        <!-- Contact us form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
						<h3 class="form-title"><b>Contact Us</b></h3>
<form method="POST" class="register-form" action="" >
{% csrf_token %}
							
<div class="input-field">
	<input type="text" name="name" id="name" />
	<label for="name">Your Name</label>
</div>


<div class="input-field">
	<input type="email" name="email" id="email" />
	<label for="email">Your Email</label>
</div>


<div class="input-field">
	<input type="text" name="subject" id="subject"/>
	<label for="subject">Email subject</label>
</div>

<br><br>
<div class="input-field">
	<textarea id="address" name="address" class="materialize-textarea"></textarea>
	<label for="address">Your message</label>
</div>
							
                           
                            <div class="form-group form-button">
                                <input type="submit" name="send" id="send" class="form-submit" value="Send"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'forms-css/images/signup-image.jpg'%}" alt="sing up image"></figure>
                        
                    </div>
                </div>
            </div>
        </section>

      
    </div>

  {% endblock %}