{% extends "base-home.html" %}
{% load static %}

{% block title %}FAQ{% endblock%}

{% block content %}
    <h1 class="text-center" style="height: 60px;margin: 10px;">Frequently Asked Questions (FAQ)</h1><br/ clear='all'>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><span><strong>1. Question</strong><br></span>
                <p><br>Answer<br><br></p>
            </li>
            <li class="list-group-item"><span><strong>2. Question</strong><br></span>
                <p><br>Answer<br><br></p>
            </li>
            <li class="list-group-item"><span><strong>3. Question</strong><br></span>
                <p><br>Answer<br><br></p>
            </li>
            <li class="list-group-item"><span><strong>4. Question</strong><br></span>
                <p><br>Answer<br><br></p>
            </li>
            <li class="list-group-item"><span><strong>5. Question</strong><br></span>
                <p><br>Answer<br><br></p>
            </li>
        </ul>
    </div>
{% endblock %}