{% extends "base-home.html" %}
{% load static %}

{% block title %}FAQ{% endblock%}
{% block content %}

		  
<br><br>
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
        </header>

        <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
          
		<li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">1.	What kind of use cases and users Superplan will be beneficial to. <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
               All users who are looking to prepare a semi-detailed investor deck, and/or anyone who wants to prepare a business plan and model with detailed financials is ideals users to use Superplan.
              </p>
            </div>
          </li>



          	<li>
            <a data-toggle="collapse" class="collapsed" href="#faq2">2.	Document and Presentation format type available and is it downloadable? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                This depends on your plan. Basic places offer only PDF export options, while premium plans offer word / PowerPoint / excel downloads. All plans (and financial models) can be downloaded. 
              </p>
            </div>
          </li>

          
        <li>
            <a data-toggle="collapse" class="collapsed" href="#faq3">3.	What are the additional features available for the premium package?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
               You can see the various features of each plan and comparison of the plans here. <a href="home#pricing" style="display:inline;font-size:15px;color:blue;">Here</a>
              </p>
            </div>
          </li>


          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq4">4.	Can Super Plan help me with forecasting my revenue & expenses?<i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
               Yes, our AI will assist you in preparing a detailed financial projection for your business with relevant financial ratios. 
              </p>
            </div>
          </li>

          
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq5">5.	How many users can access & can my partner work on the same plan?<i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
              This is plan dependent, our basic plans offer only single user logins, while premium plans offer multi user logins. you and your partner(s) can use the same login to work on the same plan, however only a single instance/ login is allowed at a time. You can see more details on each plan here. <a href="home#pricing" style="display:inline;font-size:15px;color:blue;">Here</a>
              </p>
            </div>
          </li>


          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq6">6.	How can I add extra users?<i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
              You can write to us at <b>support@superplan.tech</b> and our team will get back to you on the costing for each additional user for your plan.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq7">7.	Can I work on multiple plans?<i class="ion-android-remove"></i></a>
            <div id="faq7" class="collapse" data-parent="#faq-list">
              <p>Yes, you can work on multiple plans – we call them company names. Each subscription type gives you access to a certain number of company names. Select the one that suits you best here. <a href="home#pricing" style="display:inline;font-size:15px;color:blue;">Here</a>

              </p>
            </div>
          </li>



          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq8">8.	Can I have multiple subscriptions?<i class="ion-android-remove"></i></a>
            <div id="faq8" class="collapse" data-parent="#faq-list">
              <p>No. You can have only 1 subscription at a point in time per email id, and if for any reason you need additional features, you can upgrade your plan at any time. Write to us at <b>support@superplan.tech</b> to upgrade.
              </p>
            </div>
          </li>



          
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq9">9.	Does Super Plan support different languages and currencies?<i class="ion-android-remove"></i></a>
            <div id="faq9" class="collapse" data-parent="#faq-list">
              <p>At the moment we support only English and Indian Rupees. However, we accept payments across the globe, if paid in Indian Rupees. We are working on adding more currencies and later will add multi language support. 
              </p>
            </div>
          </li>



                    
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq10">10.	What are the devices Super Plan is available on?<i class="ion-android-remove"></i></a>
            <div id="faq10" class="collapse" data-parent="#faq-list">
              <p>We are fully web-based (response, mobile friendly site) and can be accessed from any web browser (mobile, tablet, PC, Mac). Based on user response, we will be bringing out a tablet and mobile apps, during the product enhancement cycle. </p>
            </div>
          </li>


                              
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq11">11.	Is there a free trial period?<i class="ion-android-remove"></i></a>
            <div id="faq11" class="collapse" data-parent="#faq-list">
              <p>No. Superplan does not have a free trial period, however you can create a free account and see some sample decks/plans to get a feel for what you will get with a subscription. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq12">12.	Can I change or cancel my plan after signing up?<i class="ion-android-remove"></i></a>
            <div id="faq12" class="collapse" data-parent="#faq-list">
              <p>You are free to cancel at any point, however we will not be able to refund your payment and you will be able to use the platform till your subscription period ends.
              <br>You can upgrade your account at any time and can write to us at <b>support@superplan.tech</b> for assistance with this.  

              </p>
            </div>
          </li>


          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq13">13.	What happens to my saved plans if I cancel my account?<i class="ion-android-remove"></i></a>
            <div id="faq13" class="collapse" data-parent="#faq-list">
              <p>Your account will be valid through the subscription period even if you cancel and you can download your saved plans at any time during this period. 

              </p>
            </div>
          </li>


           <li>
            <a data-toggle="collapse" class="collapsed" href="#faq14">14.	What are the accepted payment methods?<i class="ion-android-remove"></i></a>
            <div id="faq14" class="collapse" data-parent="#faq-list">
              <p>We accept all major debit cards, credit cards, net banking, wallets, UPI, and Rupay.

              </p>
            </div>
          </li>

           <li>
            <a data-toggle="collapse" class="collapsed" href="#faq15">15.	Is my data secure?<i class="ion-android-remove"></i></a>
            <div id="faq15" class="collapse" data-parent="#faq-list">
              <p>Yes, we use 256-bit encryption and store your data in secure data rooms with multiple backups.
              </p>
            </div>
          </li>


        
           <li>
            <a data-toggle="collapse" class="collapsed" href="#faq16">16.	How to report an issue or bug?<i class="ion-android-remove"></i></a>
            <div id="faq16" class="collapse" data-parent="#faq-list">
              <p>You can write to us at <b>support@superplan.tech</b>
              </p>
            </div>
          </li>  


                  
           <li>
            <a data-toggle="collapse" class="collapsed" href="#faq17">17.	Will Super Plan help me in searching for Investors?<i class="ion-android-remove"></i></a>
            <div id="faq17" class="collapse" data-parent="#faq-list">
              <p>Unfortunately, we are a tech platform and at the moment cannot help you with investor connect. We have plans to set up a separate platform in the future, that will be linked to this, and users should be able to get connections with potential investors, investor platforms, and investor groups.
              </p>
            </div>
          </li>  


            <li>
            <a data-toggle="collapse" class="collapsed" href="#faq18">18.	I require professional help for a business deck/ plan. How can you help?<i class="ion-android-remove"></i></a>
            <div id="faq18" class="collapse" data-parent="#faq-list">
              <p>Our technology platform makes it a breeze for you to create professional looking business plans and investor pitch decks along with a detailed financial model. All you need to do is select one of our pre-set templates, input a few data fields and our AI does the rest. 

              </p>
            </div>
          </li> 


        </ul>

      </div>
    </section><!-- End F.A.Q Section -->  
	  
	  
{% endblock %}