{% extends "base-form.html" %}
{% load static %}

{% block title %}Registration{% endblock%}




{% block content %}

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Registration</h2>




  {% if messages %}
	<div style="color:red;margin-top:-20px;">
		{% for message in messages%}
		{{message}}
		{% endfor%}
	</div>
{% endif %}
			

<form method="POST" class="register-form" id="register-form" action="reg_form">
{% csrf_token %}

	<div class="form-group">
		<label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
		<input type="text" name="name" id="name" placeholder="Your Name"  maxlength="100" minlength="4" required=""/>
	</div>


	<div class="form-group">
		<label for="email"><i class="zmdi zmdi-email"></i></label>
		<input type="email" id="from-email" name="email"  maxlength="100" minlength="4" required="" placeholder="Email Address"/>
	</div>



	<div class="form-group">
		<label for="pass"><i class="zmdi zmdi-lock"></i></label>
		<input  maxlength="100" minlength="4" type="password" id="psw" name="password" required="" placeholder="Password"/>
	</div>


	<div class="form-group">
		<label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
		<input type="password" id="cpsw" name="confirm_password" required="" placeholder="Confirm Password" onfocusout="check_psw();"/>
	</div>



	<div class="form-group">
		<label for="phone"><i class="zmdi zmdi-phone"></i></label>

        
		<input type="number"  id="form-phone" name="phone" required="" placeholder="Your Phone number" onfocusout="phone_number_validation();"/>
	</div>
	
	
	<div class="form-group">
		<label for="address"><i class="zmdi zmdi-google-maps"></i></label>
		<input type="text" name="address" id="address" placeholder="Your address"  maxlength="100" minlength="4"/>
	</div>







	<div class="form-group form-button">
		<input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
	</div>
</form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'forms-css/images/signup-image.jpg'%}" alt="sing up image"></figure>
                        <a href="login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

      
    </div>




	
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

function check_psw()
{
    var psw = $("#psw").val();
    var cpsw = $("#cpsw").val();

    if(psw!="" && cpsw !="")
    {
        if(psw != cpsw)
        {
            swal({
                title: "Oops !",
                text: "Password is not same !",
                icon: "error",
                button: "ok",
                });

                $("#psw").val("");
                $("#cpsw").val("");
        }
    }

    else{
        swal({
                title: "Oops !",
                text: "You have not filled the Password or Confrim password field",
                icon: "warning",
                button: "ok",
                });
    }
}




function phone_number_validation()
{
    
    var phone_number = $("#form-phone").val().toString();
    if(phone_number.length >12 || phone_number.length <6 || isNaN(phone_number))
    {
        swal({
                title: phone_number,
                text: "Invalid Phone Number ! try again",
                icon: "warning",
                button: "ok",
                });

                $("#form-phone").val("");
    }
}




</script>
{% endblock %}