{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-7{% endblock%}
{% block page_heading %}Superplan Form 7 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_7_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">7. Industry & Competitor Analysis</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>7.1. Industry Analysis</strong></label>
								<textarea class="form-control"   id="industry_analysis" maxlength="8000" minlength="4" />Some automated text will be present here from our Database</textarea>

								<textarea class="d-none"  name="industry_analysis" /><p>Some automated text will be present here from our Database</p></textarea>
								</div>
						</div>
						
						
                        <div class="col">
							<div class="form-group">
								<label ><strong>7.2. Competitor Analysis</strong></label>
								<textarea class="form-control"  id="competitor_analysis" maxlength="500" minlength="4" />Some automated text will be present here </textarea>

								<textarea class="d-none"  name="competitor_analysis" /><p>Some automated text will be present here from our Database</p></textarea>
								</div>
						</div>
				</div>

                <div class="form-row">
						
						<div class="col-6">
							<div class="form-group">
								<label ><strong>7.3. USP</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<textarea class="form-control"   id="usp_1" maxlength="5000" minlength="4"   /></textarea>
								<textarea class="d-none"  name="usp_1" value="" /></textarea>
								</div>
						</div>
                    </div>




					<div id="u2" class="form-row" style="display:none;">
						
						<div class="col-6">
							<div class="form-group">
								<label ><strong>2 USP</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<textarea class="form-control"   id="usp_2" maxlength="5000" minlength="4"   /></textarea>
								<textarea class="d-none"  name="usp_2" value="" /></textarea>
								</div>
						</div>

						<div class="col-2 align-self-center">
							<button class="btn btn-danger" type="button" onclick="remove_usp(2)"><i class="fa fa-close"></i> Remove</button>
						</div>
                    </div>




					<div id="u3" class="form-row" style="display:none;">
						
						<div class="col-6">
							<div class="form-group">
								<label ><strong>3 USP</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<textarea class="form-control"   id="usp_3" maxlength="5000" minlength="4"   /></textarea>
								<textarea class="d-none"  name="usp_3" value="" /></textarea>
								</div>
						</div>

						<div class="col-2 align-self-center">
							<button class="btn btn-danger" type="button" onclick="remove_usp(3)"><i class="fa fa-close"></i> Remove</button>
						</div>
                    </div>

					<button class="btn btn-success" type="button" onclick="add_usp();"><i class="fa fa-plus"></i> Add more USP</button>

						<br><br><br>
						
						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>




<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->



  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
usp=2;
function add_usp()
{
	
	if (usp<4)
	{
		for(var i=2; i<4;i++)
		{
			if($('#u'+i).is(':hidden'))
			{
				$('#u'+i).show();
				usp++;
				break;
			}
		}
	}
	else
	{
		swal("Maximum Reached !", "You can add maximum 3 usp!", "warning")
	}
}

function remove_usp(div_num)
{
	var tt_name = "usp_"+div_num;
	$('#'+tt_name).html('');
	$('textarea[name='+tt_name+']').val('');

	$("#u"+div_num).hide();
	usp--;
}
</script>


{% endblock %}