{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-7{% endblock%}
{% block page_heading %}Superplan Form 7 of 12{% endblock%}


{% block form_nav %}
{% if request.session.form %}


	<div class="col-md-6 text-right">
            
            
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goto Form Number
              </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/superplan_form_number/1">1. Theme & Currency Selection</a>
				  <a class="dropdown-item" href="/superplan_form_number/2">2. Basic informations</a>
				  <a class="dropdown-item" href="/superplan_form_number/3">3. Introduction</a>
				  <a class="dropdown-item" href="/superplan_form_number/4">4. Challenges & Solutions</a>
				  <a class="dropdown-item" href="/superplan_form_number/5">5. Company Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/6">6. Management Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/7">7. Marketing Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/8">8. Growth Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/9">9. Industry & Competitor Analysis</a>
				  <a class="dropdown-item" href="/superplan_form_number/9-1">9.1. Hostorical Data</a>
				  <a class="dropdown-item" href="/superplan_form_number/10">10. Profit & Loss</a>
				  <a class="dropdown-item" href="/superplan_form_number/11">11. Balance Sheet</a>
				  <a class="dropdown-item" href="/superplan_form_number/12">12. CAPEX Schedule</a>
                </div>
            </div>
            
            </div> 


{% endif %}
{% endblock form_nav %}


{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_7_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">7. Marketing Strategies</p>
						</div>
					<div class="card-body">
					


					

				<div id="offline-div" class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>Offline Marketing Strategies</strong><small class="text-danger"> *Max : 1000 characters</small></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							</div>

							<div id="m_off_div1" class="form-row"><div class="col-md-8"><div class="form-group">
								<div id="m_off_div1" class="inputbox">
								{% if data.marketing_strategies_offline.f_1 %}
									<input class="d-none" type="text" name="marketing_strategies_offline[]" value='{{data.marketing_strategies_offline.f_1}}' maxlength="1000" />
									<div class="content">{{data.marketing_strategies_offline.f_1}}</div>
									

								{% else %}
									<input class="d-none" type="text" name="marketing_strategies_offline[]" maxlength="1000" />
									<div class="content"></div>
								{% endif %}

								</div></div></div></div>


								{% if data.marketing_strategies_offline.f_2 %}

								<div id="m_off_div2" class="form-row"><div class="col-md-8"><div class="form-group">
								<div id="m_off2" class="inputbox">
								<input class="d-none" type="text" name="marketing_strategies_offline[]" value='{{data.marketing_strategies_offline.f_2}}' maxlength="1000" />
								<div class="content">{{data.marketing_strategies_offline.f_2}}</div></div></div></div></div>

								{% endif %}


								{% if data.marketing_strategies_offline.f_3 %}
								<div id="m_off_div3" class="form-row"><div class="col-md-8"><div class="form-group">
								<div id="m_off3" class="inputbox">
								<input class="d-none" type="text" name="marketing_strategies_offline[]" value='{{data.marketing_strategies_offline.f_3}}' maxlength="1000" />
								<div class="content">{{data.marketing_strategies_offline.f_3}}</div></div></div></div></div>
								{% endif %}


								{% if data.marketing_strategies_offline.f_4 %}
								<div id="m_off_div4" class="form-row"><div class="col-md-8"><div class="form-group">
								<div id="m_off4" class="inputbox">
								<input class="d-none" type="text" name="marketing_strategies_offline[]" value='{{data.marketing_strategies_offline.f_4}}' maxlength="1000" />
								<div class="content">{{data.marketing_strategies_offline.f_4}}</div></div></div></div></div>
								{% endif %}


								{% if data.marketing_strategies_offline.f_5 %}
								<div id="m_off_div5" class="form-row"><div class="col-md-8"><div class="form-group">
								<div id="m_off5" class="inputbox">
								<input class="d-none" type="text" name="marketing_strategies_offline[]" value='{{data.marketing_strategies_offline.f_5}}' maxlength="1000" />
								<div class="content">{{data.marketing_strategies_offline.f_5}}</div></div></div></div></div>
								{% endif %}



							
						</div>

					</div>


					<div id="m_off_rows"></div>















					<div class="form-row">
						<div class="col-4">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_m_off()" ><i class="fas fa-plus"></i> Add</button>

									{% if data.marketing_strategies_offline.f_2 %}
									<button id="remove_m_off_btn" type="button" onclick="remove_m_off()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Remove</button>
									{% else %}
									<button id="remove_m_off_btn" type="button" onclick="remove_m_off()" class="btn btn-danger" style="display:none;"><i class="fas fa-trash-alt"></i> Remove</button>
									{% endif %}
		
								</div>
							</div>
					</div>




					<br><br><hr><br>













				<div id="online-div">


				<div class="form-row">

						<div class="col-md-8">
							<div class="form-group">
								<label ><strong>Online Marketing Strategies</strong><small class="text-danger"> *Max : 1000 characters</small></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>

								
								<div id="m_on1" class="inputbox">
									{% if data.marketing_strategies_online.f_1 %}
									<input class="d-none" type="text" name="marketing_strategies_online[]" value='{{data.marketing_strategies_online.f_1}}' maxlength="1000" />
									<div class="content">{{data.marketing_strategies_online.f_1}}</div>
									{% else %}
									<input class="d-none" type="text" name="marketing_strategies_online[]" maxlength="1000" />
									<div class="content"></div>
									{% endif %}
								</div>




								</div>
						</div>
						
				</div>



				{% if data.marketing_strategies_online.f_2 %}
					<div id="m_on_div2" class="form-row"><div class="col-md-8"><div class="form-group">
					<div id="m_on2" class="inputbox"><input class="d-none" type="text" name="marketing_strategies_online[]" value='{{data.marketing_strategies_online.f_2}}' maxlength="1000" />
					<div class="content">{{data.marketing_strategies_online.f_2}}</div></div></div></div></div>
				{% endif %}


				{% if data.marketing_strategies_online.f_3 %}
					<div id="m_on_div3" class="form-row"><div class="col-md-8"><div class="form-group">
					<div id="m_on3" class="inputbox"><input class="d-none" type="text" name="marketing_strategies_online[]" value='{{data.marketing_strategies_online.f_3}}' maxlength="1000" />
					<div class="content">{{data.marketing_strategies_online.f_3}}</div></div></div></div></div>
				{% endif %}

				{% if data.marketing_strategies_online.f_4 %}
					<div id="m_on_div4" class="form-row"><div class="col-md-8"><div class="form-group">
					<div id="m_on4" class="inputbox"><input class="d-none" type="text" name="marketing_strategies_online[]" value='{{data.marketing_strategies_online.f_4}}' maxlength="1000" />
					<div class="content">{{data.marketing_strategies_online.f_4}}</div></div></div></div></div>
				{% endif %}

				{% if data.marketing_strategies_online.f_5 %}
					<div id="m_on_div5" class="form-row"><div class="col-md-8"><div class="form-group">
					<div id="m_on5" class="inputbox"><input class="d-none" type="text" name="marketing_strategies_online[]" value='{{data.marketing_strategies_online.f_5}}' maxlength="1000" />
					<div class="content">{{data.marketing_strategies_online.f_5}}</div></div></div></div></div>
				{% endif %}




				</div>







				<div id="m_on_rows"></div>

					<div class="form-row">
						<div class="col-4">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_m_on()" ><i class="fas fa-plus"></i> Add</button>

									{% if data.marketing_strategies_online.f_2 %}
									<button id="remove_m_on_btn" type="button" onclick="remove_m_on()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Remove</button>
									{% else %}
									<button id="remove_m_on_btn" type="button" onclick="remove_m_on()" class="btn btn-danger" style="display:none;"><i class="fas fa-trash-alt"></i> Remove</button>
									{% endif %}
		
								</div>
							</div>
					</div>
		
						
						<br>
			<br>
			<hr>
			<div class="form-row">
				<div class="col-md-4 text-center p-1">
					<a class="btn btn-primary"  href="/superplan_form_number/6"><i class="fas fa-arrow-circle-left"></i> Previous form</a>
				</div>

				<div class="col-md-4 text-center p-1">
					<button class="btn btn-success" type="submit"> <b> Save & Next </b></button>
				</div>

				<div class="col-md-4 text-center p-1">
					<a class="btn btn-danger"  href="/superplan_form_number/8">Skip <i class="fas fa-arrow-circle-right"></i></i></a>
				</div>

			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>




<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->





  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

var m_off = $("#offline-div .content").length;
if(m_off==1){
	m_off=2;
}
else
{
	m_off+=1;
}


function add_m_off()
{
	
	if(m_off<6)
	{
		$("#m_off_rows").append('<div id="m_off_div'+m_off+'" class="form-row"><div class="col-md-8"><div class="form-group">\
<div id="m_off'+m_off+'" class="inputbox"><input class="d-none" type="text" name="marketing_strategies_offline[]" maxlength="1000" />\
<div class="content"></div></div></div></div></div>');

	m_off++;

	

	}
	else{
		swal('Maximum Reached !', 'You can add maximum 5 Strategies !', 'warning');
	}

	if($("#remove_m_off_btn").is(':hidden'))
	{
		$("#remove_m_off_btn").show();
	}
}





function remove_m_off()
{
	var id=m_off-1;
	
	if($('#m_off_div'+id).length)
	{
		
		$("#m_off_div"+id).remove();
		m_off--;

	}
	if(id<=2)
	{
		$("#remove_m_off_btn").hide();
	}
	

}






//--------------------------------------------- online strategy----------------------------



var m_on = $("#online-div .content").length;
if(m_on==1){
	m_on=2;
}
else
{
	m_on+=1;
}


function add_m_on()
{
	
	if(m_on<6)
	{
		$("#m_on_rows").append('<div id="m_on_div'+m_on+'" class="form-row"><div class="col-md-8"><div class="form-group">\
<div id="m_on'+m_on+'" class="inputbox"><input class="d-none" type="text" name="marketing_strategies_online[]" maxlength="1000" />\
<div class="content"></div></div></div></div></div>');

	m_on++;

	

	}
	else{
		swal('Maximum Reached !', 'You can add maximum 5 Strategies !', 'warning');
	}

	if($("#remove_m_on_btn").is(':hidden'))
	{
		$("#remove_m_on_btn").show();
	}
}





function remove_m_on()
{
	var id=m_on-1;
	
	if($('#m_on_div'+id).length)
	{
		
		$("#m_on_div"+id).remove();
		m_on--;

	}
	if(id<=2)
	{
		$("#remove_m_on_btn").hide();
	}
	

}








</script>








{% endblock %}