{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-2{% endblock%}
{% block page_heading %}Superplan Form 2 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_2_submit"  enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">2. Introduction</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>2.1. About the company</strong><small class="text-danger"> *Max : 2000 characters</small></label>
								<textarea class="form-control"  name="about_the_company"  maxlength="2000" minlength="4" required /> </textarea>
								</div>
						</div>
						
						
					<div class="col">

                        <div class="row">
                            <div class="col">
                                    <div class="form-group">
                                        <label ><strong>2.2. Company Logo (JPEG/PNG)</strong></label>
                                        <input id="photo"  type="file"  name="company_logo" accept="image/jpeg,image/png" required />
                                    </div>
                                </div>
                        </div>


                        
					</div>

					
						
				</div>


				<div class="form-row">
						
						<div class="col">
						<div class="form-group">
							<label ><strong>2.3. When was the company founded</strong></label>
							<input class="form-control" type="number" min="1600" max="2020"  name="company_founded" required /> 
						</div>
					</div>
						
						
					<div class="col">
						<div class="form-group">
							<label ><strong>2.4. Industry Type</strong></label>
							<select class="form-control" name="industry_type" required>
                                <option>Select Here</option>
                                <option value="industry type 1">Industry type name 1</option>
                                <option value="industry type 2">Industry type name  2</option>
                                <option value="industry type 3">Industry type name  3</option>
                                <option value="industry type 4">Industry type name  4</option>
                                <option value="industry type 5">Industry type name  5</option>
                            </select> 
						</div>
					</div>
						
				</div>
						
						
						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>





    $("#photo").change(function() {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var size=Math.round((this.files[0].size)/1024);
    if(extn == "jpg" || extn == "jpeg" || extn == "png")
        {
            if(size<2048)
                {
                    pass;
                }
            else
                {
                    $("#photo").val('');

					swal({
						title: "Oops !",
						text: "Image size is larger than 2MB !",
						icon: "error",
						button: "ok",
						});
                    
                }
        }

    else
        {
            
			$("#photo").val('');

			swal({
				title: "Oops !",
				text: "Image format must be in JPG/JPEG/PNG !",
				icon: "error",
				button: "ok",
				});
                    
                
        }
    });



</script>

{% endblock %}