{% extends "base-user.html" %}
{% load static %}
{% block title %}User Form-4{% endblock%}
{% block page_heading %}Superplan Form 4 of 12{% endblock%}


{% block form_nav %}
{% if request.session.form %}


	<div class="col-md-6 text-right">
            
            
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goto Form Number
              </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/superplan_form_number/1">1. Theme & Currency Selection</a>
				  <a class="dropdown-item" href="/superplan_form_number/2">2. Basic informations</a>
				  <a class="dropdown-item" href="/superplan_form_number/3">3. Introduction</a>
				  <a class="dropdown-item" href="/superplan_form_number/4">4. Challenges & Solutions</a>
				  <a class="dropdown-item" href="/superplan_form_number/5">5. Company Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/6">6. Management Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/7">7. Marketing Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/8">8. Growth Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/9">9. Industry & Competitor Analysis</a>
				  <a class="dropdown-item" href="/superplan_form_number/9-1">9.1. Historical Data</a>
				  <a class="dropdown-item" href="/superplan_form_number/10">10. Profit & Loss</a>
				  <a class="dropdown-item" href="/superplan_form_number/11">11. CAPEX Schedule</a>
				  <a class="dropdown-item" href="/superplan_form_number/12">12. Balance Sheet</a>
                </div>
            </div>
            
            </div> 


{% endif %}
{% endblock form_nav %}


{% block content %}


 



	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_4_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">4. Challenges & Solutions</p>
						</div>
					<div class="card-body">
					
					

				<div id="challenges_div" class="form-row">
						<div class="col-md-8">
							<div class="form-group">
								<label ><strong>Challenges Faced in the Industry </strong><small class="text-danger"> *Max : 200 characters</small></label>

						{% if data.challenges_faced.f_1 %}

								<div id="chl_div1" class="inputbox">
									<input hidden type="text" name="challenges_faced[]" value='{{data.challenges_faced.f_1}}' maxlength="200" />
									<div class="content">{{data.challenges_faced.f_1}}</div>
								</div>
						{% else %}

								<div id="chl_div1" class="inputbox">
									<input hidden type="text" name="challenges_faced[]" maxlength="200" />
									<div class="content"></div>
								</div>

						{% endif %}
							
						{% if data.challenges_faced.f_2 %}

								<div id="chl_div2" class="inputbox">
									<input hidden type="text" name="challenges_faced[]" value='{{data.challenges_faced.f_2}}' maxlength="200" />
									<div class="content">{{data.challenges_faced.f_2}}</div>
								</div>
						{% endif %}
						
						{% if data.challenges_faced.f_3 %}

								<div id="chl_div3" class="inputbox">
									<input hidden type="text" name="challenges_faced[]" value='{{data.challenges_faced.f_3}}' maxlength="200" />
									<div class="content">{{data.challenges_faced.f_3}}</div>
								</div>
						{% endif %}

						{% if data.challenges_faced.f_4 %}

								<div id="chl_div4" class="inputbox">
									<input hidden type="text" name="challenges_faced[]" value='{{data.challenges_faced.f_4}}' maxlength="200" />
									<div class="content">{{data.challenges_faced.f_4}}</div>
								</div>
						{% endif %}

						{% if data.challenges_faced.f_5 %}

								<div id="chl_div5" class="inputbox">
									<input hidden type="text" name="challenges_faced[]" value='{{data.challenges_faced.f_5}}' maxlength="200" />
									<div class="content">{{data.challenges_faced.f_5}}</div>
								</div>

						
						{% endif %}




							</div>
						</div>
				</div>

				
				<div id="chl_rows"></div>

					<div class="form-row">
						<div class="col-4">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_chl()" ><i class="fas fa-plus"></i> Add</button>
									
									
									{% if data.challenges_faced.f_2 %}
									<button id="remove_chl_btn" type="button" onclick="remove_chl()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Remove</button>
									{% else %}
										<button id="remove_chl_btn" type="button" onclick="remove_chl()" class="btn btn-danger" style="display:none;"><i class="fas fa-trash-alt"></i> Remove</button>
									{% endif %}

		
								</div>
							</div>
					</div>



				<br><br>


				<hr> <br>
<!-- Solutions -->

			<div id="solution_div" class="form-row">
				<div class="col-md-8">
                        <div class="form-group">
                            <label ><strong>Solutions Provided by the company</strong><small class="text-danger"> *Max : 200 characters</small></label>



							{% if data.solutions_provided.f_1 %}

								<div id="sol_div1" class="inputbox">
									<input hidden type="text" name="solutions_provided[]" value='{{data.solutions_provided.f_1}}'maxlength="200" />
									<div class="content">{{data.solutions_provided.f_1}}</div>
								</div>
						{% else %}

								<div id="sol_div1" class="inputbox">
									<input hidden type="text" name="solutions_provided[]" maxlength="200" />
									<div class="content"></div>
								</div>

						{% endif %}
							
						{% if data.solutions_provided.f_2 %}

								<div id="sol_div2" class="inputbox">
									<input hidden type="text" name="solutions_provided[]" value='{{data.solutions_provided.f_2}}'maxlength="200" />
									<div class="content">{{data.solutions_provided.f_2}}</div>
								</div>
						{% endif %}

						{% if data.solutions_provided.f_3 %}

								<div id="sol_div3" class="inputbox">
									<input hidden type="text" name="solutions_provided[]" value='{{data.solutions_provided.f_3}}' maxlength="200" />
									<div class="content">{{data.solutions_provided.f_3}}</div>
								</div>
						{% endif %}


						{% if data.solutions_provided.f_4 %}

								<div id="sol_div4" class="inputbox">
									<input hidden type="text" name="solutions_provided[]" value='{{data.solutions_provided.f_4}}' maxlength="200" />
									<div class="content">{{data.solutions_provided.f_4}}</div>
								</div>
						{% endif %}

						{% if data.solutions_provided.f_5 %}

								<div id="sol_div5" class="inputbox">
									<input hidden type="text" name="solutions_provided[]" value='{{data.solutions_provided.f_5}}' maxlength="200" />
									<div class="content">{{data.solutions_provided.f_5}}</div>
								</div>
						{% endif %}


                        </div>  
					</div>
				</div>







				<div id="sol_rows"></div>



					<div class="form-row">
						<div class="col-4">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_sol()" ><i class="fas fa-plus"></i> Add</button>

									{% if data.solutions_provided.f_2 %}

									<button id="remove_sol_btn" type="button" onclick="remove_sol()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Remove</button>

									{% else %}

										<button id="remove_sol_btn" type="button" onclick="remove_sol()" class="btn btn-danger" style="display:none;"><i class="fas fa-trash-alt"></i> Remove</button>

									{% endif %}
		
								</div>
							</div>
					</div>






							<br>
			<br>
			<hr>
			<div class="form-row">
				<div class="col-md-4 text-center p-1">
					<a class="btn btn-primary"  href="/superplan_form_number/3"><i class="fas fa-arrow-circle-left"></i> Previous form</a>
				</div>

				<div class="col-md-4 text-center p-1">
					<button class="btn btn-success" type="submit"> <b> Save & Next </b></button>
				</div>

				<div class="col-md-4 text-center p-1">
					<a class="btn btn-danger"  href="/superplan_form_number/5">Skip <i class="fas fa-arrow-circle-right"></i></i></a>
				</div>

			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>










<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<!-- Challenges script -->
<script>


var chl = $("#challenges_div .content").length;
if(chl==0){
	chl=2;
}
else
{
	chl+=1;
}


function add_chl()
{
	
	if(chl<6)
	{
		$("#chl_rows").append('<div id="chl_div'+chl+'" class="form-row"><div class="col-md-8"><div class="form-group">\
<div id="chl'+chl+'" class="inputbox"><input class="d-none" type="text" name="challenges_faced[]" maxlength="200" />\
<div class="content"></div></div></div></div></div>');

	chl++;

	

	}
	else{
		swal('Maximum Reached !', 'You can add maximum 5 Challenges !', 'warning');
	}

	if($("#remove_chl_btn").is(':hidden'))
	{
		$("#remove_chl_btn").show();
	}
}




function remove_chl()
{
	var id=chl-1;
	
	if($('#chl_div'+id).length)
	{
		
		$("#chl_div"+id).remove();
		chl--;

	}
	if(id<=2)
	{
		$("#remove_chl_btn").hide();
	}
	

}





//--------------------------------------------- Solution ------------------------





var sol = $("#solution_div .content").length;
if(sol==0){
	sol=2;
}
else
{
	sol+=1;
}


function add_sol()
{
	
	if(sol<6)
	{
		$("#sol_rows").append('<div id="sol_div'+sol+'" class="form-row"><div class="col-md-8"><div class="form-group">\
<div id="sol'+sol+'" class="inputbox"><input class="d-none" type="text" name="solutions_provided[]" maxlength="200" />\
<div class="content"></div></div></div></div></div>');

	sol++;

	

	}
	else{
		swal('Maximum Reached !', 'You can add maximum 5 Solutions !', 'warning');
	}

	if($("#remove_sol_btn").is(':hidden'))
	{
		$("#remove_sol_btn").show();
	}
}




function remove_sol()
{
	var id=sol-1;
	
	if($('#sol_div'+id).length)
	{
		
		$("#sol_div"+id).remove();
		sol--;

	}
	if(id<=2)
	{
		$("#remove_sol_btn").hide();
	}
	

}


</script>

{% endblock %}