{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-4{% endblock%}
{% block page_heading %}Superplan Form 4 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_4_submit" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">4. Company Profile</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>4.1. Products & Services</strong></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<textarea class="form-control"  name="products_and_services" maxlength="2000" minlength="4" /> </textarea>
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group">
                                <label ><strong>4.2. Products & Services (PNG/JPG/PDF optional)</strong></label>
                                <input  type="file"  name="products_and_services_file" accept="image/jpeg,image/png,application/pdf">
                            </div>
                        </div>
				</div>


                <br>
                <div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>4.3. Top Clients</strong></label>
								<textarea class="form-control"   name="top_clients" maxlength="2000" minlength="4"/> </textarea>
								</div>
						</div>
						
						
					<div class="col">                        
                            <div class="form-group">
                                <label ><strong>4.4. Top Clients (PNG/JPG/PDF optional)</strong></label>
                                <input  type="file"  name="top_clients_file" accept="image/jpeg,image/png,application/pdf" >
                            </div>
					</div>
				</div>


				<div class="form-row">
						
						<div class="col">
						<div class="form-group">
							<label ><strong>4.5. Milestones</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  name="milestones" maxlength="1000" minlength="4" /> </textarea>
						</div>
					</div>
						
                    <div class="col">
                        <div class="form-group">
                            <label ><strong>4.6. Locations Served</strong></label>
                            <textarea class="form-control"  name="locations_served" maxlength="1000" minlength="4"  /> </textarea>
                            </div>
                    </div>
				
						
				</div>

                <div class="form-row">
						
					<div class="col">
						<div class="form-group">
							<label ><strong>4.7. SWOT (Strengths, Weakness, Opportunities, Threats)</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  name="swot" maxlength="5000" minlength="4" /> </textarea>
						</div>
					</div>
						
                    
				
						
				</div>
						
						
						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>




{% endblock %}