{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-9{% endblock%}
{% block page_heading %}Superplan Form 9 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_9_submit" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">9. Balance Sheet</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.1. Share Capital</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="share_capital" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.2. Share Capital (Excel file optional)</strong></label>
                                <input  type="file"  name="share_capital_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>

                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.3. Reserves & Surplus</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="reserves_and_surplus" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.4. Reserves & Surplus (Excel file optional)</strong></label>
                                <input  type="file"  name="reserves_and_surplus_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



            <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.5. Fund Requirement</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="fund_requirement" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.6. Fund Requirement (Excel file optional)</strong></label>
                                <input  type="file"  name="fund_requirement_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.7. Total Shareholder’s Funds </strong></label>
								<input type="text" class="form-control" name="total_shareholder_funds" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.8. Total Shareholder’s Funds  (Excel file optional)</strong></label>
                                <input  type="file"  name="total_shareholder_funds_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



                <br>
                <br>
                <h5 class="text-primary">Non-Current Liabilities</h5>
                <hr>
						
                
                 <div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.9. Secured Loans</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="secured_loans" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.10. Secured Loans (Excel file optional)</strong></label>
                                <input  type="file"  name="secured_loans_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>

                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.11. Unsecured Loans</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="unsecured_loans" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.12. Unsecured Loans (Excel file optional)</strong></label>
                                <input  type="file"  name="unsecured_loans_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.13. Long-term Provisions Growth % or Amount </strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="long_term_provisions_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.14. Long-term Provisions Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="long_term_provisions_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.15. Other Non-Current Liabilities Growth % or Amount </strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="other_non_current_liabilities_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.16. Other Non-Current Liabilities Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="other_non_current_liabilities_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>

                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.17. Total Non-Current Liabilities </strong></label>
								<input type="text" class="form-control" name="total_non_current_liabilities" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.18. Total Non-Current Liabilities (Excel file optional)</strong></label>
                                <input  type="file"  name="total_non_current_liabilities_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br>
                <br>
                <h5 class="text-primary">Current Liabilities</h5>
                <hr>

                <div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.19. Short-Term Borrowings Growth % or Amount </strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="short_term_borrowings_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.20. Short-Term Borrowings Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="short_term_borrowings_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.19. Short-Term Provisions Growth % or Amount </strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="short_term_provisions_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.20. Short-Term Provisions Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="short_term_provisions_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.21. Sundry Creditors No of Days or Amount </strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="sundry_creditors_no_of_days_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.22. Sundry Creditors No of Days or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="sundry_creditors_no_of_days_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.23. Other Current Liabilities Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="other_current_liabilities_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.24.  Other Current Liabilities Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="other_current_liabilities_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.25. Total Current Liabilities</strong></label>
								<input type="text" class="form-control" name="total_current_liabilities" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.26.  Total Current Liabilities (Excel file optional)</strong></label>
                                <input  type="file"  name="total_current_liabilities_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



                
                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.25. Total Liabilities</strong></label>
								<input type="text" class="form-control" name="total_liabilities" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.26.  Total Liabilities (Excel file optional)</strong></label>
                                <input  type="file"  name="total_liabilities_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br>
                <br>
                <h5 class="text-primary">Non-Current Assets</h5>
                <hr>



                 <div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.27. Gross Fixed Assets Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="gross_fixed_assets_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.28.  Gross Fixed Assets Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="gross_fixed_assets_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.29. Less: Accumulated Depreciation % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="less_accumulated_depreciation_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.30.  Less: Accumulated Depreciation % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="less_accumulated_depreciation_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.31. Net Fixed Assets Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="net_fixed_assets_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.32. Net Fixed Assets Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="net_fixed_assets_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.33. Intangible Assets Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="intangible_assets_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.34. Intangible Assets Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="intangible_assets_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                
                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.35. Long Term Loans & Advances Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="long_term_loans_and_advances_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.36. Long Term Loans & Advances Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="long_term_loans_and_advances_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.37. Long Term Investments Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="long_term_investments_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.38. Long Term Investments Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="long_term_investments_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.39. Other Non-Current Assets Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="other_non_current_assets_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.40. Other Non-Current Assets Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="other_non_current_assets_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.41. Total Non-Current Assets</strong></label>
								<input type="text" class="form-control" name="total_non_current_assets" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.42. Total Non-Current Assets (Excel file optional)</strong></label>
                                <input  type="file"  name="total_non_current_assets" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>
                

                <br>
                <br>
                <h5 class="text-primary">Current Assets</h5>
                <hr>


                <div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.43. Cash </strong></label>
								<input type="text" class="form-control" name="cash" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.44. Cash  (Excel file optional)</strong></label>
                                <input  type="file"  name="cash_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



                  <br><div class="form-row">
						
						<div class="col">
							<div class="form-group d-none">
								<label ><strong>9.45. Sundry Debtors No of Days or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="sundry_debtors_no_of_days_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.46. Sundry Debtors No of Days or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="sundry_debtors_no_of_days_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.47. Inventory No of Days or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="inventory_no_of_days_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.48. Inventory No of Days or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="inventory_no_of_days_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.49. Short-Term Investments Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="short_term_investments_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.50. Short-Term Investments Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="short_term_investments_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                
                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.51. Short-Term Loans & Advances Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="short_term_loans_and_advances_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.52. Short-Term Loans & Advances Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="short_term_loans_and_advances_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.53. Other Current Assets Growth % or Amount</strong></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="other_current_assets_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.54. Other Current Assets Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="other_current_assets_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>

                 <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.55. Total Current Assets</strong></label>
								<input type="text" class="form-control" name="total_current_assets" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.56. Total Current Assets (Excel file optional)</strong></label>
                                <input  type="file"  name="total_current_assets_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>9.57. Total Assets</strong></label>
								<input type="text" class="form-control" name="total_assets" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group d-none">
                                <label ><strong>9.58. Total Assets (Excel file optional)</strong></label>
                                <input  type="file"  name="total_assets_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}