{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-1 {% endblock%}
{% block page_heading %}Superplan Form 1 of 12 {% endblock%}

{% block form_nav %}
{% if request.session.form %}


	<div class="col-md-6 text-right">
            
            
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goto Form Number
              </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/superplan_form_number/1">1. Theme & Currency Selection</a>
				  <a class="dropdown-item" href="/superplan_form_number/2">2. Basic informations</a>
				  <a class="dropdown-item" href="/superplan_form_number/3">3. Introduction</a>
				  <a class="dropdown-item" href="/superplan_form_number/4">4. Challenges & Solutions</a>
				  <a class="dropdown-item" href="/superplan_form_number/5">5. Company Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/6">6. Management Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/7">7. Marketing Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/8">8. Growth Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/9">9. Industry & Competitor Analysis</a>
				  <a class="dropdown-item" href="/superplan_form_number/9-1">9.1. Historical Data</a>
				  <a class="dropdown-item" href="/superplan_form_number/10">10. Profit & Loss</a>
				  <a class="dropdown-item" href="/superplan_form_number/11">11. CAPEX Schedule</a>
				  <a class="dropdown-item" href="/superplan_form_number/12">12. Balance Sheet</a>
                </div>
            </div>
            
            </div> 


{% endif %}
{% endblock form_nav %}


{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_1_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">1. Theme & Currency Selection</p>
						</div>
					<div class="card-body">
					
					

				
			<div class="form-row">

					<div class="col">


						<div class="form-group">
							<label ><strong>Theme </strong></label>
							<br>

							<!--name="theme"-->
							<div class="border d-inline-block p-1 shadow-sm rounded">
							<label><input type="radio" class="form-control" name="theme" value="template1" {% if data.theme and data.theme == "template1" %} checked {% endif %}  required/>Template 1</label>
							<a href="\user_template_view_1" target="_blank"><img src="{% static 'assets-template/template-image/template1.png' %}" alt="template 1 image" height=130></a>
							</div>
						</div>



					</div>	
						
			</div>


            	<div class="form-row">
					<div class="col-md-4">
						<div class="form-group">
							<label ><strong>Currency units </strong></label>
							<select class="form-control" name="denomination"  required>
							
                                <option value="Lakh"  {% if data.denomination and data.denomination == "Lakh" %} selected {% endif %} >Thousand / Lakh / Crore</option>
                                <option value="Million" {% if data.denomination and data.denomination == "Million" %} selected {% endif %}>Thousand / Million / Billion</option>
                            </select> 
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label ><strong>Currency Selection</strong></label>
							<select class="form-control" name="currency"  required>
                                <option value="rupee" {% if data.currency and data.currency == "rupee" %} selected {% endif %}>₹ - Rupee</option>
								<option value="dollar" {% if data.currency and data.currency == "dollar" %} selected {% endif %}>$ - Dollar</option>
                                <option value="euro" {% if data.currency and data.currency == "euro" %} selected {% endif %}>€ - Euro</option>
                                <option value="pound" {% if data.currency and data.currency == "pound" %} selected {% endif %} >£ - Pound</option> 
                                
                            </select> 
						</div>
					</div>
						
			</div>

						
						
			<br>
			<br>
			<hr>
			<div class="form-row">
				<div class="col-md-4 text-center p-1">
					<a class="btn btn-primary disabled"  href="/superplan_form_number/1"><i class="fas fa-arrow-circle-left"></i> Previous form</a>
				</div>

				<div class="col-md-4 text-center p-1">
					<button class="btn btn-success" type="submit"> <b> Save & Next </b></button>
				</div>

				<div class="col-md-4 text-center p-1">
					<a class="btn btn-danger disabled"  href="/superplan_form_number/2">Skip <i class="fas fa-arrow-circle-right"></i></i></a>
				</div>

			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}