{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-2{% endblock%}
{% block page_heading %}Superplan Form 2 of 11{% endblock%}
{% block content %}




	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_2_submit"  enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">2. Introduction</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>2.1. About the company</strong><small class="text-danger"> *Max : 1000 characters</small></label>
								<textarea  class="form-control"  id="about_the_company" maxlength="1000"  required /></textarea>
								<textarea class="d-none"  name="about_the_company" /></textarea>
								</div>
						</div>
						
						
					<div class="col">

                        <div class="row">
                            <div class="col">
                                    <div class="form-group">
                                        <label ><strong>2.2. Company Logo (JPEG/PNG)</strong></label>
                                        <input id="photo"  type="file"  name="company_logo" accept="image/jpeg,image/png" required />
                                    </div>
                                </div>
                        </div>


                        
					</div>

					
						
				</div>


				<div class="form-row">
						
						<div class="col">
						<div class="form-group">
							<label ><strong>2.3. When was the company founded</strong></label>
							<input class="form-control" type="number" min="1600" max="2020"  name="company_founded" required /> 
						</div>
					</div>
						
						
					<div class="col">
						<div class="form-group">
							<label ><strong>2.4. Industry Type</strong></label>
							<select class="form-control" name="industry_type" required>
                                <option>Select Here</option>
                                <option value="industry type 1">Industry type name 1</option>
                                <option value="industry type 2">Industry type name  2</option>
                                <option value="industry type 3">Industry type name  3</option>
                                <option value="industry type 4">Industry type name  4</option>
                                <option value="industry type 5">Industry type name  5</option>
                            </select> 
						</div>
					</div>
						
				</div>
						
						
						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>









<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->

 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->





<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>









<script>  // Photo size and extension validation

    $("#photo").change(function() {
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var size=Math.round((this.files[0].size)/1024);
    if(extn == "jpg" || extn == "jpeg" || extn == "png")
        {
            if(size<2048)
                {
                    pass;
                }
            else
                {
                    $("#photo").val('');

					swal({
						title: "Oops !",
						text: "Image size is larger than 2MB !",
						icon: "error",
						button: "ok",
						});
                    
                }
        }

    else
        {
            
			$("#photo").val('');

			swal({
				title: "Oops !",
				text: "Image format must be in JPG/JPEG/PNG !",
				icon: "error",
				button: "ok",
				});
                    
                
        }
    });

</script>

{% endblock %}