{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-1{% endblock%}
{% block page_heading %}Superplan Form 1 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_1_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">1. Basic informations</p>
						</div>
					<div class="card-body">
					
					<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>1.1. Company’s Name</strong></label>
								<input class="form-control" type="text"  name="company_name" required maxlength="1000" minlength="3"> 
								</div>
						</div>
						
						
					<div class="col">
						<div class="form-group">
							<label ><strong>1.2. Company Website Link</strong></label>
							<input class="form-control" type="text"  name="company_website_link" required maxlength="1000" minlength="3" > 
						</div>
					</div>
						
				</div>

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>1.3. Owner’s Name</strong></label>
								<input class="form-control" type="text"  name="owner_name" required maxlength="500" minlength="3" /> 
								</div>
						</div>
						
						
					<div class="col">
						<div class="form-group">
							<label ><strong>1.4. Phone Number</strong></label>
							<input class="form-control" type="text"  name="phone_number" required maxlength="13" minlength="10" /> 
						</div>
					</div>

					<div class="col">
						<div class="form-group">
							<label ><strong>1.5. Email id</strong></label>
							<input class="form-control" type="email"  name="email_id" required maxlength="500" minlength="4" /> 
						</div>
					</div>
						
				</div>


				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>1.6. GST Number</strong></label>
								<input class="form-control" type="text"  name="gst_number" maxlength="100" minlength="4"> 
								</div>
						</div>
						
						
					<div class="col">
						<div class="form-group">
							<label ><strong>1.7. GST Name</strong></label>
							<input class="form-control" type="text"  name="gst_name" maxlength="500" minlength="4"> 
						</div>
					</div>
						
				</div>
						
						
						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}