{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-3{% endblock%}
{% block page_heading %}Superplan Form 3 of 11{% endblock%}
{% block content %}


 



	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_3_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">3. Challenges & Solutions</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>3.1. Challenges Faced in the Industry </strong><small class="text-danger"> *Max : 1500 characters</small></label>

								<textarea class="form-control"   id="challenges_faced" maxlength="1500" minlength="4" ></textarea>
								<textarea class="d-none"  name="challenges_faced"  /></textarea>


							</div>
						</div>
						
						
					<div class="col">
                        <div class="form-group">
                            <label ><strong>3.2. Solutions Provided by the company</strong><small class="text-danger"> *Max : 1500 characters</small></label>
                            <textarea class="form-control"   id="solutions_provided" maxlength="1500" minlength="4"></textarea>
							<textarea class="d-none"  name="solutions_provided"  /></textarea>
                        </div>  
					</div>
						
				</div>

						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>










<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->

{% endblock %}