{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-10{% endblock%}
{% block page_heading %}Superplan Form 10 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_10_submit" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">10. CAPEX Schedule </p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>10.1. Company Owned Land & Building</strong></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="company_owned_land_and_building" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group">
                                <label ><strong>10.2. Company Owned Land & Building (Excel file optional)</strong></label>
                                <input  type="file"  name="company_owned_land_and_building_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                
				<br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>10.3. Other Fixed Assets</strong></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="other_fixed_assets" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group">
                                <label ><strong>10.4.Other Fixed Assets (Excel file optional)</strong></label>
                                <input  type="file"  name="other_fixed_assets_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>



                <br><div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>10.5. Depreciation Growth % or Amount</strong></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="depreciation_growth_or_amount" maxlength="200" minlength="2" />
								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group">
                                <label ><strong>10.6. Depreciation Growth % or Amount (Excel file optional)</strong></label>
                                <input  type="file"  name="depreciation_growth_or_amount_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                            </div>
                        </div>
				</div>


                 <br><div class="form-row">
						
						<div class="col-6">
							<div class="form-group">
								<label ><strong>10.7. Total CAPEX Expense</strong></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<input type="text" class="form-control" name="total_capex_expense" maxlength="200" minlength="2" />
								</div>
						</div>
                        
				</div>
        		
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}