{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-8{% endblock%}
{% block page_heading %}Superplan Form 8 of 12{% endblock%}


{% block form_nav %}
{% if request.session.form %}


	<div class="col-md-6 text-right">
            
            
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goto Form Number
              </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/superplan_form_number/1">1. Theme & Currency Selection</a>
				  <a class="dropdown-item" href="/superplan_form_number/2">2. Basic informations</a>
				  <a class="dropdown-item" href="/superplan_form_number/3">3. Introduction</a>
				  <a class="dropdown-item" href="/superplan_form_number/4">4. Challenges & Solutions</a>
				  <a class="dropdown-item" href="/superplan_form_number/5">5. Company Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/6">6. Management Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/7">7. Marketing Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/8">8. Growth Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/9-1">8.1. Hostorical Data</a>
				  <a class="dropdown-item" href="/superplan_form_number/9">9. Industry & Competitor Analysis</a>
				  <a class="dropdown-item" href="/superplan_form_number/10">10. Profit & Loss</a>
				  <a class="dropdown-item" href="/superplan_form_number/11">11. Balance Sheet</a>
				  <a class="dropdown-item" href="/superplan_form_number/12">12. CAPEX Schedule</a>
                </div>
            </div>
            
            </div> 


{% endif %}
{% endblock form_nav %}


{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_8_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">8. Growth Strategies</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
                        <div class="col-md-8">
							<div class="form-group">
								<label class="text-primary" ><strong>8.1. Growth Strategies</strong><small class="text-danger"> *Max : 300 characters</small></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								

								<div id="grw1" class="inputbox">
									<input class="d-none" type="text" name="growth_strategy[]" maxlength="1000" />
									<div class="content"></div>
								</div>


								</div>
						</div>
				</div>


				<div id="grw_rows"></div>

					<div class="form-row">
						<div class="col">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_grw()" ><i class="fas fa-plus"></i> Add</button>
									<button id="remove_grw_btn" type="button" onclick="remove_grw()" class="btn btn-danger" style="display:none;"><i class="fas fa-trash-alt"></i> Remove</button>
		
								</div>
							</div>
					</div>


						
						<br>
			<br>
			<hr>
			<div class="form-row">
				<div class="col-md-4 text-center p-1">
					<a class="btn btn-primary"  href="/superplan_form_number/7"><i class="fas fa-arrow-circle-left"></i> Previous form</a>
				</div>

				<div class="col-md-4 text-center p-1">
					<button class="btn btn-success" type="submit"> <b> Save & Next </b></button>
				</div>

				<div class="col-md-4 text-center p-1">
					<a class="btn btn-danger"  href="/superplan_form_number/9-1">Skip <i class="fas fa-arrow-circle-right"></i></i></a>
				</div>

			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>




<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->


  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <script>

	var grw=2;
	
	
	function add_grw()
	{
		
		if(grw<6)
		{
			$("#grw_rows").append('<div id="grw_div'+grw+'" class="form-row"><div class="col-md-8"><div class="form-group">\
	<div id="grw'+grw+'" class="inputbox"><input class="d-none" type="text" name="growth_strategy[]" maxlength="1000" />\
	<div class="content"></div></div></div></div></div>');
	
		grw++;
	
		
	
		}
		else{
			swal('Maximum Reached !', 'You can add maximum 5 Strategies !', 'warning');
		}
	
		if($("#remove_grw_btn").is(':hidden'))
		{
			$("#remove_grw_btn").show();
		}
	}
	
	
	
	
	
	function remove_grw()
	{
		var id=grw-1;
		
		if($('#grw_div'+id).length)
		{
			
			$("#grw_div"+id).remove();
			grw--;
	
		}
		if(id<=2)
		{
			$("#remove_grw_btn").hide();
		}
		
	
	}
	
	
	
	</script>

{% endblock %}