{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-9{% endblock%}

{% block style %}
.div_icon{
	cursor:pointer;
}

{% endblock%}


{% block page_heading %}Superplan Form 9 of 12{% endblock%}



{% block form_nav %}
{% if request.session.form %}


	<div class="col-md-6 text-right">
            
            
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goto Form Number
              </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/superplan_form_number/1">1. Theme & Currency Selection</a>
				  <a class="dropdown-item" href="/superplan_form_number/2">2. Basic informations</a>
				  <a class="dropdown-item" href="/superplan_form_number/3">3. Introduction</a>
				  <a class="dropdown-item" href="/superplan_form_number/4">4. Challenges & Solutions</a>
				  <a class="dropdown-item" href="/superplan_form_number/5">5. Company Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/6">6. Management Profile</a>
				  <a class="dropdown-item" href="/superplan_form_number/7">7. Marketing Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/8">8. Growth Strategies</a>
				  <a class="dropdown-item" href="/superplan_form_number/9">9. Industry & Competitor Analysis</a>
				  <a class="dropdown-item" href="/superplan_form_number/9-1">9.1. Historical Data</a>
				  <a class="dropdown-item" href="/superplan_form_number/10">10. Profit & Loss</a>
				  <a class="dropdown-item" href="/superplan_form_number/11">11. CAPEX Schedule</a>
				  <a class="dropdown-item" href="/superplan_form_number/12">12. Balance Sheet</a>
                </div>
            </div>
            
            </div> 


{% endif %}
{% endblock form_nav %}


{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_9_submit" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">9. Industry & Competitor Analysis</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col-md-8">
							<div class="form-group">
								<label ><strong>Industry Analysis (Global) </strong></label>
								<div id="ind1" class="inputbox">
								{% if data.industry_analysis_glob %}
									<input class="d-none" type="text" name="industry_analysis_glob" value='{{data.industry_analysis_glob}}' maxlength="1000" />
									<div class="content">{{data.industry_analysis_glob}}</div>
								{% else %}
									<input class="d-none" type="text" name="industry_analysis_glob" value='{{industry_analysis.glob}}' maxlength="1000" />
									<div class="content">{{industry_analysis.glob}}</div>
								{% endif %}
								</div>

								</div>
						</div>
						<div class="col-md-4">
						<div class="form-group">
								<label ><strong>Industry Analysis Supporting Diagram (Global)</strong></label>
						</div>
						{% if data.industry_analysis_glob_img %}
							<a href="{{ data.industry_analysis_glob_img.url}}" target="_blank"> <img src="{{ data.industry_analysis_glob_img.url}}" width="100%" /></a>
						{% else %}
							<a href="{{industry_analysis.glob_img.url}}" target="_blank"> <img src="{{industry_analysis.glob_img.url}}" width="100%" /></a>
						{% endif %}
							<p>For No Change Leave it As Blank </p>
							<input type="file" name="industry_analysis_glob_img" accept="image/jpeg,image/png" />
						</div>
					</div>


					<br><br>


					<div class="form-row">
						
						<div class="col-md-8">
							<div class="form-group">
								<label ><strong>Industry Analysis (Indian)</strong></label>
								<div id="ind2" class="inputbox">
								{% if data.industry_analysis_india %}
									<input class="d-none" type="text" name="industry_analysis_india" value='{{data.industry_analysis_india}}' maxlength="1000" />
									<div class="content">{{data.industry_analysis_india}}</div>
								{% else %}
									<input class="d-none" type="text" name="industry_analysis_india" value='{{industry_analysis.india}}' maxlength="1000" />
									<div class="content">{{industry_analysis.india}}</div>
								{% endif %}
								</div>

								</div>
						</div>
						<div class="col-md-4">
						<div class="form-group">
								<label ><strong>Industry Analysis Supporting Diagram (Indian)</strong></label>
						</div>
						{% if data.industry_analysis_india_img %}
							<a href="{{ data.industry_analysis_india_img.url}}" target="_blank"> <img src="{{ data.industry_analysis_india_img.url}}" width="100%" /></a>
						{% else %}
							<a href="{{industry_analysis.india_img.url}}" target="_blank"> <img src="{{industry_analysis.india_img.url}}" width="100%" /></a>
						{% endif %}
							<p>For No Change Leave it As Blank </p>
							<input type="file" name="industry_analysis_india_img" accept="image/jpeg,image/png" />
						</div>
					</div>













						

					<br><br><br>


					<div class="form-row">

                        <div class="col">
							<div class="form-group">
								<label ><strong>Competitor Analysis</strong> (Click the icon for change)</label></div>
						</div>
				</div>
				<br>

					<div class="form-row text-center">
						
						<div class="col-md-2 border-right">
							<div class="form-group">
								<label ></label>
							</div>
						</div>

						<div class="col-md-2 border-right">
							<div class="form-group">

								{% if data.competitor_analysis_p.f_1 %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="{{data.competitor_analysis_p.f_1}}" />
								{% else %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="parameter1" />
								{% endif %}

							</div>
						</div>

						<div class="col-md-2 border-right">
							<div class="form-group">
								{% if data.competitor_analysis_p.f_2 %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="{{data.competitor_analysis_p.f_2}}" />
								{% else %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="parameter2" />
								{% endif %}
							</div>
						</div>

						<div class="col-md-2 border-right">
							<div class="form-group">
								{% if data.competitor_analysis_p.f_3 %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="{{data.competitor_analysis_p.f_3}}" />
								{% else %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="parameter3" />
								{% endif %}
							</div>
						</div>

						<div class="col-md-2 border-right">
							<div class="form-group">
								{% if data.competitor_analysis_p.f_4 %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="{{data.competitor_analysis_p.f_4}}" />
								{% else %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="parameter4" />
								{% endif %}
							</div>
						</div>

						<div class="col-md-2 border-right">
							<div class="form-group">
								{% if data.competitor_analysis_p.f_5 %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="{{data.competitor_analysis_p.f_5}}" />
								{% else %}
								<input type="text" class="form-control" name="competitor_analysis_p[]" maxlength="200" value="parameter5" />
								{% endif %}
							</div>
						</div>

						
				</div>
				<hr>

				<div class="form-row text-center">

					<div class="col-md-2 border-right">
						<div class="form-group">

							{% if data.competitor_analysis_n.f_1 %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="{{data.competitor_analysis_n.f_1}}" maxlength="250"/>
							{% else %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="Competitor 1" maxlength="250"/>
							{% endif %}
							
						</div>
					</div>




					<div class="col-md-2 border-right">
						
								<input hidden id="c11" type="checkbox" class="form-control" name="competitor_analysis_v1[]" value="1" {% if data.competitor_analysis_v1.f_1 %} checked {% endif%} />
							
							<div id="11" class="div_icon">
								{% if data.competitor_analysis_v1.f_1 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>




					<div class="col-md-2 border-right">
						
							
								<input hidden id="c12" type="checkbox" class="form-control" name="competitor_analysis_v1[]" value="2"  {% if data.competitor_analysis_v1.f_2 %} checked {% endif%} />
							
							<div id="12" class="div_icon">
								{% if data.competitor_analysis_v1.f_2 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c13" type="checkbox" class="form-control" name="competitor_analysis_v1[]" value="3"  {% if data.competitor_analysis_v1.f_3 %} checked {% endif%}/>
							
							<div id="13" class="div_icon">
								{% if data.competitor_analysis_v1.f_3 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c14" type="checkbox" class="form-control"name="competitor_analysis_v1[]" value="4"  {% if data.competitor_analysis_v1.f_4 %} checked {% endif%} />
							
							<div id="14" class="div_icon">
								{% if data.competitor_analysis_v1.f_4 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
								<input hidden id="c15" type="checkbox" class="form-control" name="competitor_analysis_v1[]" value="5"  {% if data.competitor_analysis_v1.f_5 %} checked {% endif%}/>
							
							<div id="15" class="div_icon">
								{% if data.competitor_analysis_v1.f_5 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

				</div>
				<hr>

				<div class="form-row text-center">

					<div class="col-md-2 border-right">
						<div class="form-group">
							{% if data.competitor_analysis_n.f_2 %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="{{data.competitor_analysis_n.f_2}}" maxlength="250"/>
							{% else %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="Competitor 2" maxlength="250"/>
							{% endif %}
						</div>
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c21" type="checkbox" class="form-control" name="competitor_analysis_v2[]" value="1" {% if data.competitor_analysis_v2.f_1 %} checked {% endif%}/>
							
							<div id="21" class="div_icon">
								
								{% if data.competitor_analysis_v2.f_1 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c22" type="checkbox" class="form-control" name="competitor_analysis_v2[]" value="2" {% if data.competitor_analysis_v2.f_2 %} checked {% endif%}/>
						
							<div id="22" class="div_icon">
								{% if data.competitor_analysis_v2.f_2 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c23" type="checkbox" class="form-control"  name="competitor_analysis_v2[]" value="3" {% if data.competitor_analysis_v2.f_3 %} checked {% endif%}  />
							
							<div id="23" class="div_icon">
								{% if data.competitor_analysis_v2.f_3 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c24" type="checkbox" class="form-control"name="competitor_analysis_v2[]" value="4" {% if data.competitor_analysis_v2.f_4 %} checked {% endif%}/>
							
							<div id="24" class="div_icon">
								{% if data.competitor_analysis_v2.f_4 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c25" type="checkbox" class="form-control"  name="competitor_analysis_v2[]" value="5" {% if data.competitor_analysis_v2.f_5 %} checked {% endif%} />
							
							<div id="25" class="div_icon">
								{% if data.competitor_analysis_v2.f_5 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

				</div>
				<hr>
				<hr>

				<div class="form-row text-center">

					<div class="col-md-2 border-right">
						<div class="form-group">
							{% if data.competitor_analysis_n.f_3 %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="{{data.competitor_analysis_n.f_3}}" maxlength="250"/>
							{% else %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="Competitor 3" maxlength="250"/>
							{% endif %}
						</div>
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c31" type="checkbox" class="form-control" name="competitor_analysis_v3[]" value="1" {% if data.competitor_analysis_v3.f_1 %} checked {% endif%} />
							
							<div id="31" class="div_icon">
								{% if data.competitor_analysis_v3.f_1 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c32" type="checkbox" class="form-control" name="competitor_analysis_v3[]" value="2" {% if data.competitor_analysis_v3.f_2 %} checked {% endif%} />
							
							<div id="32" class="div_icon">
								{% if data.competitor_analysis_v3.f_2 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c33" type="checkbox" class="form-control" name="competitor_analysis_v3[]" value="3" {% if data.competitor_analysis_v3.f_3 %} checked {% endif%} />
							
							<div id="33" class="div_icon">
								{% if data.competitor_analysis_v3.f_3 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c34" type="checkbox" class="form-control" name="competitor_analysis_v3[]" value="4" {% if data.competitor_analysis_v3.f_4 %} checked {% endif%} />
							
							<div id="34" class="div_icon">
								{% if data.competitor_analysis_v3.f_4 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
						
								<input hidden id="c35" type="checkbox" class="form-control" name="competitor_analysis_v3[]" value="5"  {% if data.competitor_analysis_v3.f_5 %} checked {% endif%}/>
							
							<div id="35" class="div_icon">
								{% if data.competitor_analysis_v3.f_5 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

				</div>
				<hr>

				<hr>

				<div class="form-row text-center">

					<div class="col-md-2 border-right">
						<div class="form-group">
							{% if data.competitor_analysis_n.f_4 %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="{{data.competitor_analysis_n.f_4}}" maxlength="250"/>
							{% else %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="Competitor 4" maxlength="250"/>
							{% endif %}
						</div>
					</div>

					<div class="col-md-2 border-right">
						
							<input hidden id="c41" type="checkbox" class="form-control" name="competitor_analysis_v4[]" value="1" {% if data.competitor_analysis_v4.f_1 %} checked {% endif%}/>
							
							<div id="41" class="div_icon">
								{% if data.competitor_analysis_v4.f_1 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c42" type="checkbox" class="form-control"  name="competitor_analysis_v4[]" value="2" {% if data.competitor_analysis_v4.f_2 %} checked {% endif%} />
						
							<div id="42" class="div_icon">
								{% if data.competitor_analysis_v4.f_2 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c43" type="checkbox" class="form-control" name="competitor_analysis_v4[]" value="3" {% if data.competitor_analysis_v4.f_3 %} checked {% endif%} />
							
							<div id="43" class="div_icon">
								{% if data.competitor_analysis_v4.f_3 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c44" type="checkbox" class="form-control" name="competitor_analysis_v4[]" value="4" {% if data.competitor_analysis_v4.f_4 %} checked {% endif%}/>
							
							<div id="44" class="div_icon">
								{% if data.competitor_analysis_v4.f_4 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
						
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c45" type="checkbox" class="form-control"  name="competitor_analysis_v4[]" value="5" {% if data.competitor_analysis_v4.f_5 %} checked {% endif%}/>
						
							<div id="45" class="div_icon">
								{% if data.competitor_analysis_v4.f_5 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

				</div>
				<hr>
				<hr>

				<div class="form-row text-center">

					<div class="col-md-2 border-right">
						<div class="form-group">
							{% if data.competitor_analysis_n.f_5 %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="{{data.competitor_analysis_n.f_5}}" maxlength="250"/>
							{% else %}
							<input type="text" class="form-control" name="competitor_analysis_n[]" value="Competitor 5" maxlength="250"/>
							{% endif %}
						</div>
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c51" type="checkbox" class="form-control" name="competitor_analysis_v5[]" value="1" {% if data.competitor_analysis_v5.f_1 %} checked {% endif%} />
						
							<div id="51" class="div_icon">
								{% if data.competitor_analysis_v5.f_1 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c52" type="checkbox" class="form-control" name="competitor_analysis_v5[]" value="2"  {% if data.competitor_analysis_v5.f_2 %} checked {% endif%} />
					
							<div id="52" class="div_icon">
								{% if data.competitor_analysis_v5.f_2 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
				
					</div>

					<div class="col-md-2 border-right">
					
							<input hidden id="c53" type="checkbox" class="form-control"  name="competitor_analysis_v5[]" value="3"  {% if data.competitor_analysis_v5.f_3 %} checked {% endif%} />
						
							<div id="53" class="div_icon">
								{% if data.competitor_analysis_v5.f_3 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

					<div class="col-md-2 border-right">
					
							<input hidden id="c54" type="checkbox" class="form-control"  name="competitor_analysis_v5[]" value="4"  {% if data.competitor_analysis_v5.f_4 %} checked {% endif%} />
							<div id="54" class="div_icon">
								{% if data.competitor_analysis_v5.f_4 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

					<div class="col-md-2 border-right">
					
								<input hidden id="c55" type="checkbox" class="form-control" name="competitor_analysis_v5[]" value="5"  {% if data.competitor_analysis_v5.f_5 %} checked {% endif%} />
						
							<div id="55" class="div_icon">
								{% if data.competitor_analysis_v5.f_5 %}
								<i class="fas fa-check fa-2x text-success"></i>
								{%else%}
								<i class="fas fa-times fa-2x text-danger"></i>
								{%endif%}
							</div>
					
					</div>

				</div>
				<hr>

				<hr>

				<br><br><br>

			


				

		<div id="growth-div">
                <div class="form-row">
						
					<div class="col-md-8">
						<div class="form-group">
							<label ><strong>Industry Growth Drivers</strong><small class="text-danger"> *Max : 300 characters</small></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							

							{% if data.industry_growth_drivers.f_1 %}
									<div id="grw1" class="inputbox">
									<input class="d-none" type="text" name="industry_growth_drivers[]" value="{{data.industry_growth_drivers.f_1}}" maxlength="300" />
									<div class="content">{{data.industry_growth_drivers.f_1}}</div></div>
							
							{% endif %}
								
							
							</div>
					</div>
				</div>


				{% if not data.industry_growth_drivers.f_1 and industry_growth_drivers %}
					

				<div id="grw_div1" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw1" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value='<b>{{industry_growth_drivers.drivers_t.f_1}}</b><p>{{industry_growth_drivers.drivers_c.f_1}}</p>' maxlength="300" />
				<div class="content"><b>{{industry_growth_drivers.drivers_t.f_1}}</b><p>{{industry_growth_drivers.drivers_c.f_1}}</p></div></div></div></div></div>


				<div id="grw_div2" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw2" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value='<b>{{industry_growth_drivers.drivers_t.f_2}}</b><p>{{industry_growth_drivers.drivers_c.f_2}}</p>' maxlength="300" />
				<div class="content"><b>{{industry_growth_drivers.drivers_t.f_2}}</b><p>{{industry_growth_drivers.drivers_c.f_2}}</p></div></div></div></div></div>



				<div id="grw_div3" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw3" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value='<b>{{industry_growth_drivers.drivers_t.f_3}}</b><p>{{industry_growth_drivers.drivers_c.f_3}}</p>' maxlength="300" />
				<div class="content"><b>{{industry_growth_drivers.drivers_t.f_3}}</b><p>{{industry_growth_drivers.drivers_c.f_3}}</p></div></div></div></div></div>


				<div id="grw_div4" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw4" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value='<b>{{industry_growth_drivers.drivers_t.f_4}}</b><p>{{industry_growth_drivers.drivers_c.f_4}}</p>' maxlength="300" />
				<div class="content"><b>{{industry_growth_drivers.drivers_t.f_4}}</b><p>{{industry_growth_drivers.drivers_c.f_4}}</p></div></div></div></div></div>

				{% else %}

					<div id="grw_div1" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw1" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value='' maxlength="300" />
				<div class="content"></div></div></div></div></div>

				{% endif %}
















			{% if data.industry_growth_drivers.f_2 %}
				<div id="grw_div2" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw2" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value="{{data.industry_growth_drivers.f_2}}" maxlength="300" />
				<div class="content">{{data.industry_growth_drivers.f_2}}</div></div></div></div></div>
			{% endif %}


			{% if data.industry_growth_drivers.f_3 %}

				<div id="grw_div3" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw3" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value="{{data.industry_growth_drivers.f_3}}" maxlength="300" />
				<div class="content">{{data.industry_growth_drivers.f_3}}</div></div></div></div></div>

			{% endif %}


			{% if data.industry_growth_drivers.f_4 %}

				<div id="grw_div4" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw4" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value="{{data.industry_growth_drivers.f_4}}" maxlength="300" />
				<div class="content">{{data.industry_growth_drivers.f_4}}</div></div></div></div></div>

			{% endif %}




			{% if data.industry_growth_drivers.f_5 %}

				<div id="grw_div5" class="form-row"><div class="col-md-8"><div class="form-group">
				<div id="grw5" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" value="{{data.industry_growth_drivers.f_5}}" maxlength="300" />
				<div class="content">{{data.industry_growth_drivers.f_5}}</div></div></div></div></div>

			{% endif %}







		</div>












				<div id="grw_rows"></div>





					<div class="form-row">
						<div class="col">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_grw()" ><i class="fas fa-plus"></i> Add</button>

								
									<button id="remove_grw_btn" type="button" onclick="remove_grw()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Remove</button>
								
		
								</div>
							</div>
					</div>














				<br><br><hr><br>


		<div id="usp-div">

                <div class="form-row">
						
						<div class="col-md-8">
							<div class="form-group">
								<label ><strong>9.3. USP</strong><small class="text-danger"> *Max : 350 characters</small></label>
                                <a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<div id="usp1" class="inputbox">


								{% if data.usp.f_1 %}
									<input class="d-none" type="text" name="usp[]" value='{{data.usp.f_1}}' maxlength="350" />
									<div class="content">{{data.usp.f_1}}</div>

								{% else %}
									<input class="d-none" type="text" name="usp[]" maxlength="350" />
									<div class="content"></div>

								{% endif %}
								</div>
								
								</div>
						</div>
                    </div>



				{% if data.usp.f_2 %}
					<div id="usp_div2" class="form-row"><div class="col-md-8"><div class="form-group">
					<div id="usp2" class="inputbox"><input class="d-none" type="text" name="usp[]" value='{{data.usp.f_2}}' maxlength="350" />
					<div class="content">{{data.usp.f_2}}</div></div></div></div></div>
				{% endif %}


				{% if data.usp.f_3 %}
					<div id="usp_div3" class="form-row"><div class="col-md-8"><div class="form-group">
					<div id="usp3" class="inputbox"><input class="d-none" type="text" name="usp[]" value='{{data.usp.f_3}}' maxlength="350" />
					<div class="content">{{data.usp.f_3}}</div></div></div></div></div>
				{% endif %}


				


			</div>




					<div id="usp_rows"></div>

					<div class="form-row">
						<div class="col">
								<div class="form-group">
									
									<button class="btn btn-success" type="button"  onclick="add_usp()" ><i class="fas fa-plus"></i> Add</button>

								{% if data.usp.f_2 %}
									<button id="remove_usp_btn" type="button" onclick="remove_usp()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> Remove</button>
								{% else %}
									<button id="remove_usp_btn" type="button" onclick="remove_usp()" class="btn btn-danger" style="display:none;"><i class="fas fa-trash-alt"></i> Remove</button>
								{% endif %}
		
								</div>
							</div>
					</div>





















									<br>
			<br>
			<hr>
			<div class="form-row">
				<div class="col-md-4 text-center p-1">
					<a class="btn btn-primary"  href="/superplan_form_number/8"><i class="fas fa-arrow-circle-left"></i> Previous form</a>
				</div>

				<div class="col-md-4 text-center p-1">
					<button class="btn btn-success" type="submit"> <b> Save & Next </b></button>
				</div>

				<div class="col-md-4 text-center p-1">
					<a class="btn btn-danger"  href="/superplan_form_number/9-1">Skip <i class="fas fa-arrow-circle-right"></i></i></a>
				</div>

			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>




<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->



  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>



var grw = $("#growth-div .content").length;
if(grw==0){
	grw=2;
}
else
{
	grw+=1;
}
	
	
	function add_grw()
	{
		
		if(grw<5)
		{
			$("#grw_rows").append('<div id="grw_div'+grw+'" class="form-row"><div class="col-md-8"><div class="form-group">\
	<div id="grw'+grw+'" class="inputbox"><input class="d-none" type="text" name="industry_growth_drivers[]" maxlength="300" />\
	<div class="content"></div></div></div></div></div>');
	
		grw++;
	
		
	
		}
		else{
			swal('Maximum Reached !', 'You can add maximum 4 Growth Drivers !', 'warning');
		}
	
		if($("#remove_grw_btn").is(':hidden'))
		{
			$("#remove_grw_btn").show();
		}
	}
	
	
	
	
	
	function remove_grw()
	{
		var id=grw-1;
		
		if($('#grw_div'+id).length)
		{
			
			$("#grw_div"+id).remove();
			grw--;
	
		}
		if(id<=2)
		{
			$("#remove_grw_btn").hide();
		}
		
	
	}








/* ----------------------------------------------- USP ----------------------------------*/



	var usp = $("#usp-div .content").length;
	if(usp==0){
		usp=2;
	}
	else
	{
		usp+=1;
	}
	
	
	function add_usp()
	{
		
		if(usp<4)
		{
			$("#usp_rows").append('<div id="usp_div'+usp+'" class="form-row"><div class="col-md-8"><div class="form-group">\
	<div id="usp'+usp+'" class="inputbox"><input class="d-none" type="text" name="usp[]" maxlength="350" />\
	<div class="content"></div></div></div></div></div>');
	
		usp++;
	
		
	
		}
		else{
			swal('Maximum Reached !', 'You can add maximum 3 USP !', 'warning');
		}
	
		if($("#remove_usp_btn").is(':hidden'))
		{
			$("#remove_usp_btn").show();
		}
	}
	
	
	
	
	
	function remove_usp()
	{
		var id=usp-1;
		
		if($('#usp_div'+id).length)
		{
			
			$("#usp_div"+id).remove();
			usp--;
	
		}
		if(id<=2)
		{
			$("#remove_usp_btn").hide();
		}
		
	
	}
	
</script>



<script>

$(".div_icon").click(function(){
	var chk_num = $(this).attr('id');
	
	if ($("#c"+chk_num).is(":checked"))
	{
		$("#"+chk_num).html('<i class="fas fa-times fa-2x text-danger"></i>');
		$("#c"+chk_num).prop('checked',false);
	}
	else
	{
		$("#"+chk_num).html('<i class="fas fa-check fa-2x text-success"></i>');
		$("#c"+chk_num).prop('checked',true);
	}
	
});
















</script>


{% endblock %}