{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-1 {% endblock%}
{% block page_heading %}Superplan Form 1 of 12 {% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_1_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">1. Theme & Currency Selection</p>
						</div>
					<div class="card-body">
					
					

				
			<div class="form-row">

					<div class="col">


						<div class="form-group">
							<label ><strong>1.1. Theme </strong></label>
							<br>

							<!--name="theme"-->
							<div class="border d-inline-block p-1 shadow-sm rounded">
							<label><input type="radio" class="form-control" name="theme" value="template1"  required/>Template 1</label>
							<a href="\user_template_view_1" target="_blank"><img src="{% static 'assets-template/template-image/template1.png' %}" alt="template 1 image" height=130></a>
							</div>
						</div>



					</div>	
						
			</div>


            	<div class="form-row">
					<div class="col-md-4">
						<div class="form-group">
							<label ><strong>1.2. Currency units </strong></label>
							<select class="form-control" name="denomination"  required>
							
                                <option value="Lakh">Thousand / Lakh / Crore</option>
                                <option value="Million">Thousand / Million / Billion</option>
                            </select> 
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label ><strong>1.3. Currency Selection</strong></label>
							<select class="form-control" name="currency"  required>
                                <option value="rupee">₹ - Rupee</option>
								<option value="dollar">$ - Dollar</option>
                                <option value="euro">€ - Euro</option>
                                <option value="pound">£ - Pound</option> 
                                
                            </select> 
						</div>
					</div>
						
			</div>

						
						
			<br>
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}