{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-3{% endblock%}
{% block page_heading %}Superplan Form 3 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_3_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">3. Challenges & Solutions</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>3.1. Challenges Faced in the Industry</strong></label>
								<textarea class="form-control"   name="challenges_faced" maxlength="7000" minlength="4" > </textarea>
							</div>
						</div>
						
						
					<div class="col">
                        <div class="form-group">
                            <label ><strong>3.2. Solutions Provided by the company</strong></label>
                            <textarea class="form-control"   name="solutions_provided" maxlength="5000" minlength="4"> </textarea>
                        </div>  
					</div>
						
				</div>

						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>



{% endblock %}