{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-4{% endblock%}
{% block page_heading %}Superplan Form 4 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_4_submit" enctype="multipart/form-data">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">4. Company Profile</p>
						</div>
					<div class="card-body">
					
					

				<div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>4.1. Products & Services</strong><small class="text-danger"> *Max : 300 characters</small></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<textarea class="form-control"  id="products_and_services_1" maxlength="300" minlength="4" /></textarea>
								<textarea class="d-none"  name="products_and_services_1" /></textarea>


								</div>
						</div>
						
						
                        <div class="col">
                            <div class="form-group">
                                <label ><strong>4.2. Products & Services (PNG/JPG optional)</strong></label>
                                <input  type="file"  name="products_and_services_file_1" accept="image/jpeg,image/png">
                            </div>
                        </div>
				</div>


				<div id="p2" class="form-row" style="display:none;" >
						<div class="col">
							<div class="form-group">
								<label ><strong>Products & Services</strong><small class="text-danger"> *Max : 300 characters</small></label>
								<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
								<textarea class="form-control"  id="products_and_services_2" maxlength="300" minlength="4" /></textarea>
								<textarea class="d-none"  name="products_and_services_2" /></textarea>


								</div>
						</div>
						
						
                        <div class="col-4">
                            <div class="form-group">
                                <label ><strong>Products & Services (PNG/JPG optional)</strong></label>
                                <input  type="file"  name="products_and_services_file_2" accept="image/jpeg,image/png">
                            </div>
                        </div>

						<div class="col-2 align-self-center">
							<button class="btn btn-danger" type="button" onclick="$('textarea[name=products_and_services_2]').val('');$('#products_and_services_2').html('');$('input[name=products_and_services_file_2]').val('');$('#p2').hide();"><i class="fa fa-close"></i> Remove</button>
						</div>
				</div>
				<button class="btn btn-success" type="button" onclick="if($('#p2').is(':hidden')){$('#p2').show();}else{swal('Maximum Reached !', 'You can add maximum 2 products & services !', 'warning');}"><i class="fa fa-plus"></i> Add more product and services</button>


                <br><br><hr><br>

                <div class="form-row">
						
						<div class="col">
							<div class="form-group">
								<label ><strong>4.3. Top Clients</strong></label>
								<textarea class="form-control"   id="top_clients" maxlength="2000" minlength="4"/></textarea>
								<textarea class="d-none"  name="top_clients"  /></textarea>
								</div>
						</div>
						
						
					<div class="col">                        
                            <div class="form-group">
                                <label ><strong>4.4. Top Clients (PNG/JPG/PDF optional)</strong></label>
                                <input  type="file"  name="top_clients_file" accept="image/jpeg,image/png,application/pdf" >
                            </div>
					</div>
				</div>


				<div class="form-row">
						
						<div class="col">
						<div class="form-group">
							<label ><strong>4.5. Milestones</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  id="milestones" maxlength="1000" minlength="4" /></textarea>
							<textarea class="d-none"  name="milestones" /></textarea>
						</div>
					</div>
						
                    <div class="col">
                        <div class="form-group">
                            <label ><strong>4.6. Locations Served</strong></label>
                            <textarea class="form-control"  id="locations_served" maxlength="1000" minlength="4"  /></textarea>
                            <textarea class="d-none"  name="locations_served" /></textarea>
							</div>
                    </div>
				
						
				</div>


				<br><br>
				 <div class="form-row">
						
					<div class="col">
						<div class="form-group">
							<label ><strong>4.7.1. SWOT - Strengths</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  id="swot_s" maxlength="5000" minlength="4" /></textarea>
							<textarea class="d-none"  name="swot_s" /></textarea>
						</div>
					</div>

					<div class="col">
						<div class="form-group">
							<label ><strong>4.7.2. SWOT - Weakness</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  id="swot_w" maxlength="5000" minlength="4" /></textarea>
							<textarea class="d-none"  name="swot_w" /></textarea>
						</div>
					</div>
						
				</div>

				<div class="form-row">
						
					<div class="col">
						<div class="form-group">
							<label ><strong>4.7.3. SWOT - Opportunities</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  id="swot_o" maxlength="5000" minlength="4" /></textarea>
							<textarea class="d-none"  name="swot_o" /></textarea>
						</div>
					</div>

					<div class="col">
						<div class="form-group">
							<label ><strong>4.7.4. SWOT - Threats</strong></label>
							<a href="#"  data-toggle="tooltip" title="Help text."><i class="far fa-question-circle"></i></a>
							<textarea class="form-control"  id="swot_t" maxlength="5000" minlength="4" /></textarea>
							<textarea class="d-none"  name="swot_t" /></textarea>
						</div>
					</div>
						
				</div>
						
						
						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Save & Next</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>






<!-- Modal Texteditor-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="richtextModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="richtextModalTitle">Write your text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- Text editor -->

				




            <div class="container text-dark">
                <div class="row">
                    <div class="col-md-12">
						<input name="box" type="hidden">
                        <div id="editor-container"  style="min-height:200px;"></div>
						<div id="err" style="position: absolute;padding-left: 10px;"></div>
						<div id="counter">0 characters</div>
						
                    </div>
                </div>
            <br/><br/><br/><br/>
            </div>

			
        <!-- Text editor finish -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" id="get-content" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Text editor finish -->




 <!-- Quill -->
  	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  	<script src="{% static 'assets-quill/js/Quill-Text-Editor.js' %}"></script>
  <!-- Quill -->





<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




{% endblock %}