{% extends "base-user.html" %}
{% load static %}

{% block title %}User Form-11{% endblock%}
{% block page_heading %}Superplan Form 11 of 11{% endblock%}
{% block content %}


	<div class="row mb-3">	
		
	<div class="col">
		<div class="row">
			<div class="col">



				<form method="POST" action="/user_form_11_submit">
				{% csrf_token %}
					<div class="card shadow mb-3">
						<div class="card-header py-3">
						<p class="text-primary m-0 font-weight-bold">11. Theme & Currency Selection</p>
						</div>
					<div class="card-body">
					
					

				
			<div class="form-row">

					<div class="col">
						<div class="form-group">
							<label ><strong>11.1. Theme </strong></label>
							<select class="form-control" name="theme"  required>
                                <option>Select Here</option>
                                <option value="1">Theme 1</option>
                                <option value="2">Theme 2</option>
                                <option value="3">Theme 3</option>
                                <option value="4">Theme 4</option>
                                <option value="5">Theme 5</option>
                            </select> 
						</div>
					</div>
						
						
					<div class="col-4">
						<div class="form-group">
							<label ><strong>11.2. Currency Selection</strong></label>
							<select class="form-control" name="currency"  required>
                                <option>Select Here</option>
                                <option value="euro">€ - Euro</option>
                                <option value="dollar">$ - Dollar</option>
                                <option value="pound">£ - Pound</option> 
                                <option value="rupee">₹ - Rupee</option> 
                            </select> 
						</div>
					</div>
						
			</div>


            	<div class="form-row">
					<div class="col-6">
						<div class="form-group">
							<label ><strong>11.3. Denomination</strong></label>
							<select class="form-control" name="denomination"  required>
                                <option>Select Here</option>
                                <option value="Million">Million</option>
                                <option value="Billion">Billion</option>
                                <option value="Crore">Crore</option>
                                <option value="Lakh">Lakh</option>
                                <option value="Thousands">Thousands</option>
                            </select> 
						</div>
					</div>

					<div class="col-6">
						<div class="form-group">
							<label ><strong>11.4. Superplan Pack</strong></label>
							<select class="form-control" name="pack" required>
                                
                                <option value="Starter Pack" selected>Starter Pack - 3,500 ₹ /month</option>
                                <option value="Pro Pack">Pro Pack - 6,000 ₹ /month</option>
                                <option value="Premium Pack">Premium Pack - 8,999 ₹ /month</option>
                                <option value="All access Pack">All access Pack - 14,999 ₹ /month</option>
                            </select> 
						</div>
					</div>
						
			</div>

						
						
						
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="submit">Finish & preview</button>
			</div>
					
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>


{% endblock %}