{% extends "../base-admin.html" %}
{% load static %}

{% block title %}All templates{% endblock%}
{% block page_heading %}All templates{% endblock%}
{% block content %}
			
	          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">All template list</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                  <thead>
                    <tr>
					  <th>id - Photo</th>
                      <th>Template Name</th>
                      <th>Industry Name</th>
                      <th>Package Name</th>
                      
                      <th>View</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
			
					  <th>id - Photo</th>
                      <th>Template Name</th>
                      <th>Industry Name</th>
                      <th>Package Name</th>
                      
                      <th>View</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    



{% for tmp in templates %}
<tr>
<td>{{tmp.id}} {% if tmp.ind.photo %} <a href="{{tmp.ind.photo.url}}" target="_blank"><img src="{{tmp.ind.photo.url}}" alt="img" class="img-thumbnail" height=100 width=100></a> {% endif %} </td>
<td class="text-truncate" >{{tmp.name}}</td>
<td class="text-truncate" >{{tmp.ind.name}}</td>
<td class="text-truncate" >{{tmp.pack.title}}</td>

<td><a class="btn btn-success" href="template_view_by_get/{{tmp.id}}">View</a></td>
<td><a class="btn btn-primary" href="template_update_by_get/{{tmp.id}}">Edit</a></td>
<td><button class="btn btn-danger" type="button" onclick="delete_template({{tmp.id}})">Delete</button></td>
</tr>

{% endfor %}
                    
                    
                  </tbody>
                </table>



		<!--	  
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
			<li class="page-item">
			  <a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			  </a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
			  <a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			  </a>
			</li>
		  </ul>
		</nav>
			-->
				  
				  
              </div>
            </div>
          </div>		


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>

function delete_template(id)
{
      swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover the template !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        ajax_call_delete_template(id);
      } else {
        swal("Template is safe!");
      }
    });
}



function ajax_call_delete_template(id)
{
    
      $.ajax({
        url: '/ajax_call_delete_template',
        type:'POST',
        data: {
          'id': id,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        dataType: 'json',
        success: function (data) {
          if (data["value"]) {
            
            swal("Template has been deleted!", {
                  icon: "success",
                });

              window.location.reload() ;
          }
        else{
          swal("Failed !", {
              icon: "error",
            });
        }
        }
      });
}

</script>
			
{% endblock %}