{% extends "../base-admin.html" %}
{% load static %}

{% block title %}All industries{% endblock%}
{% block page_heading %}All industries{% endblock%}
{% block content %}
			
	          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">All Industry list</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" >
                  <thead>
                    <tr>
					            <th>Sl.</th>
                      <th>Name</th>
                      <th>Edit / Delete</th>
                      <th>Analysis</th>
                      <th>Growth Drivers</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
			
					            <th>Sl.</th>
                      <th>Name</th>
                      <th>Edit / Delete</th>
                      <th>Analysis</th>
                      <th>Growth Drivers</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    


{% if inds %}
{% for ind in inds %}
<tr>
<td>{{forloop.counter0|add:inds.start_index}}</td>

<td >{{ind.name}}</td>
<td><a class="btn btn-primary" href="industry_update_by_get/{{ind.id}}">Edit</a>&nbsp;
<button class="btn btn-danger" type="button" onclick="delete_industry({{ind.id}})">Delete</button></td>

{%if ind.id in inds_an%}
<td><a class="btn btn-success" href="industry_analysis_view_by_get/{{ind.id}}"> View</a>
<a class="btn btn-primary" href="industry_analysis_update_by_get/{{ind.id}}">Edit</a>
<button class="btn btn-danger" type="button" onclick="delete_industry_analysis({{ind.id}})">Delete</button></td>
{% else %}
<td> Not Set Yet</td>
{% endif %}


{%if ind.id in inds_gw%}
<td><a class="btn btn-success" href="industry_growth_drivers_view_by_get/{{ind.id}}"> View</a>
<a class="btn btn-primary" href="industry_growth_drivers_update_by_get/{{ind.id}}">Edit</a>
<button class="btn btn-danger" type="button" onclick="delete_industry_growth_drivers({{ind.id}})">Delete</button></td>
{% else %}
<td> Not Set Yet</td>
{% endif %}


</tr>

{% endfor %}
{% else %}
<td>-</td>
<td>-</td>
<td>--</td>
<td>--</td>

{% endif %}


                    
                  </tbody>
                </table>





<nav aria-label="Page navigation example">

<ul class="pagination">
    
        {% if inds.has_previous %}
          <li class="page-item"> <a href="?page=1" class="page-link" >First</a></li>
          <li class="page-item"><a href="?page={{ inds.previous_page_number }}" class="page-link">&laquo; Previous</a></li>
        {% endif %}

        {% if inds.has_next %}
           <li class="page-item"> <a href="?page={{ inds.next_page_number }}" class="page-link">Next</a></li>
           <li class="page-item"> <a href="?page={{ inds.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
        {% endif %}

        <li class="page-item"><span class="page-link">  Page {{ inds.number }} of {{ inds.paginator.num_pages }}</span></li>
    
</ul>
</nav>



				  
				  
              </div>
            </div>
          </div>		


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>

function delete_industry(id)
{
      swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover the industry !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        ajax_call_delete_industry(id);
      } else {
        swal("Industry is safe!");
      }
    });
}



function ajax_call_delete_industry(id)
{
    
      $.ajax({
        url: '/ajax_call_delete_industry',
        type:'POST',
        data: {
          'id': id,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        dataType: 'json',
        success: function (data) {
          if (data["value"]) {
            
            swal("Industry has been deleted!", {
                  icon: "success",
                });

              window.location.reload() ;
          }
        else{
          swal("Failed !", {
              icon: "error",
            });
        }
        }
      });
}






/*---------------------------------------- Industry Analysis ----------------------------------------------------------*/





function delete_industry_analysis(id)
{
      swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover the industry Analysis !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        ajax_call_delete_industry_analysis(id);
      } else {
        swal("Industry Analysis is safe!");
      }
    });
}



function ajax_call_delete_industry_analysis(id)
{
    
      $.ajax({
        url: '/ajax_call_delete_industry_analysis',
        type:'POST',
        data: {
          'id': id,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        dataType: 'json',
        success: function (data) {
          if (data["value"]) {
            
            swal("Industry analysis has been deleted!", {
                  icon: "success",
                });

              window.location.reload() ;
          }
        else{
          swal("Failed !", {
              icon: "error",
            });
        }
        }
      });
}






/*---------------------------------------- Industry growth drivers ----------------------------------------------------------*/





function delete_industry_growth_drivers(id)
{
      swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover the industry growth drivers !",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        ajax_call_delete_industry_growth_drivers(id);
      } else {
        swal("Industry growth drivers is safe!");
      }
    });
}



function ajax_call_delete_industry_growth_drivers(id)
{
    
      $.ajax({
        url: '/ajax_call_delete_industry_growth_drivers',
        type:'POST',
        data: {
          'id': id,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        dataType: 'json',
        success: function (data) {
          if (data["value"]) {
            
            swal("Industry growth drivers has been deleted!", {
                  icon: "success",
                });

              window.location.reload() ;
          }
        else{
          swal("Failed !", {
              icon: "error",
            });
        }
        }
      });
}








</script>
			
{% endblock %}